In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json

In [2]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [3]:
# URL to find information on Coronavirus
url = "https://txdshs.maps.arcgis.com/apps/opsdashboard/index.html#/ed483ecd702b4298ab01e8b9cafc8b83"

url3 = "http://publichealth.harriscountytx.gov/Resources/2019-Novel-Coronavirus/Harris-County-COVID-19-Confirmed-Cases"

url4 = "https://www.khou.com/article/news/health/coronavirus/coronavirus-updates-live-blog-and-updates-for-march-26/285-51285105-6dd1-45fa-b169-a33310b5defc"

In [4]:
# Visiting the url 
browser.visit(url)

In [5]:
time.sleep(7)# Creating the Beautiful soup for URL
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# All the Texas counties
counties = soup.find('nav', attrs={'class':'feature-list'})

# getting all the spans with the information for each Texas county
rows = counties.find_all('span')

In [7]:
counter = 0

county = []
cases = []

for row in rows:
    try:
        print(rows[counter].text.strip().split('\n'))
        county.append(rows[counter].text.strip().split('\n')[0])
        cases.append(rows[counter].text.strip().split('\n')[1])
        counter = counter + 3
        
    except:
        print('failure')

['Dallas County', '367']
['Harris County', '203']
['Travis County', '137']
['Bexar County', '113']
['Tarrant County', '100']
['Collin County', '88']
['Fort Bend County', '86']
['Denton County', '83']
['Montgomery County', '41']
['Galveston County', '40']
['Brazoria County', '39']
['McLennan County', '33']
['Brazos County', '30']
['Williamson County', '27']
['Lubbock County', '23']
['El Paso County', '21']
['Smith County', '21']
['Bell County', '20']
['Nueces County', '18']
['Hays County', '13']
['Webb County', '13']
['Wichita County', '12']
['Hidalgo County', '11']
['Cameron County', '10']
['Ellis County', '10']
['Comal County', '9']
['Matagorda County', '9']
['Guadalupe County', '8']
['Jefferson County', '8']
['Castro County', '7']
['Johnson County', '6']
['Midland County', '6']
['Hockley County', '5']
['Gregg County', '4']
['Hardin County', '4']
['Kendall County', '4']
['Brown County', '3']
['De Witt County', '3']
['Medina County', '3']
['Rockwall County', '3']
['Victoria County', '3']
['Wharton County', '3']
['Angelina County', '2']
['Atascosa County', '2']
['Bastrop County', '2']
['Bowie County', '2']
['Calhoun County', '2']
['Chambers County', '2']
['Deaf Smith County', '2']
['Eastland County', '2']
['Grayson County', '2']
['Grimes County', '2']
['Hood County', '2']
['Kaufman County', '2']
['Liberty County', '2']
['Llano County', '2']
['Milam County', '2']
['Parker County', '2']
['Rusk County', '2']
['Starr County', '2']
['Tom Green County', '2']
['Val Verde County', '2']
['Walker County', '2']
['Austin County', '1']
['Blanco County', '1']
['Burnet County', '1']
['Cass County', '1']
['Cherokee County', '1']
['Coryell County', '1']
['Crane County', '1']
['Erath County', '1']
['Falls County', '1']
['Fannin County', '1']
['Fayette County', '1']
['Gaines County', '1']
['Hale County', '1']
['Harrison County', '1']
['Hopkins County', '1']
['Hunt County', '1']
['Jackson County', '1']
['Karnes County', '1']
['Lamar County', '1']
['Lavaca County', '1']
['Limestone County', '1']
['Martin County', '1']
['Maverick County', '1']
['Montague County', '1']
['Morris County', '1']
['Nacogdoches County', '1']
['Navarro County', '1']
['Oldham County', '1']
['Orange County', '1']
['Potter County', '1']
['Robertson County', '1']
['San Patricio County', '1']
['Shelby County', '1']
['Taylor County', '1']
['Terry County', '1']
['Upshur County', '1']
['Uvalde County', '1']
['Van Zandt County', '1']
['Willacy County', '1']
['Wilson County', '1']
['Yoakum County', '1']
['Young County', '1']
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure
failure

In [8]:
df = pd.DataFrame(list(zip(county, cases)), columns =['Texas_County', 'COVID_19_Cases'])
df

         Texas_County COVID_19_Cases
0       Dallas County            367
1       Harris County            203
2       Travis County            137
3        Bexar County            113
4      Tarrant County            100
..                ...            ...
100  Van Zandt County              1
101    Willacy County              1
102     Wilson County              1
103     Yoakum County              1
104      Young County              1

[105 rows x 2 columns]

In [9]:
# Droping the word 'County'
df['Texas_County'] = df['Texas_County'].apply(lambda x : x.split(' County')[0])

In [10]:
# Revise? 
reported_cases = soup.find_all('text')[6].text
reported_cases

'1,731'

In [11]:
deaths = soup.find_all('text')[8].text
deaths

'23'

In [12]:
df_stats = pd.DataFrame({'Cases':[reported_cases], 'Deaths':[deaths]})
df_stats.to_csv('static/csv/stats.csv', index=False)

In [13]:
browser.visit(url3)

In [14]:
harris_table = browser.find_by_id('covidtable')

In [15]:
html_harris = browser.html
harris_soup = bs(html_harris, 'html.parser')

In [16]:
harris_data = []
table = harris_soup.find('table', attrs={'id':'covidtable'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    harris_data.append([ele for ele in cols if ele]) # Get rid of empty values

In [17]:
columns = ['Patient', 'Sex', 'Age_Range', 'Location','Exposure', 'Status']

In [18]:
harris_data = harris_data[1:]

In [19]:
harris_df = pd.DataFrame(harris_data, columns=columns)

In [20]:
# harris_df['Sex'] = harris_df['Sex'].apply(lambda x : x.split()[2])

In [21]:
harris_df.to_csv('static/csv/harris_stats.csv', index=False, header=True)

In [22]:
harris_df.head()

  Patient     Sex Age_Range Location                   Exposure     Status
0       1  Female   60 - 69       SW          History of Travel  Recovered
1       2    Male   60 - 69       SW          History of Travel  Recovered
2       3    Male   40 - 49       NW  Possible Exposure to Case     Active
3       4    Male   60 - 69       NW          History of Travel  Recovered
4       5    Male   40 - 49       NE          No Known Exposure     Active

In [23]:
All_Tex_Counties_df = pd.read_csv('static/csv/Texas_Counties.csv')
All_Tex_Counties_df.head()

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,-97.492799,29.456415,Gonzales,90,48177,2.124911,0.257805,"(-97.492799, 29.456415)"
1,-98.697292,27.043405,Jim Hogg,125,48247,2.271751,0.267624,"(-98.697292, 27.043405)"
2,-97.681378,26.924094,Kenedy,66,48261,5.067864,0.389397,"(-97.681378, 26.924094)"
3,-96.965687,30.310651,Lee,144,48287,2.213853,0.153990,"(-96.965687, 30.310651)"
4,-95.853568,32.211881,Henderson,108,48213,3.152909,0.235056,"(-95.853568, 32.211881)"

In [24]:
All_Tex_Counties = All_Tex_Counties_df['CNTY_NM'].tolist()

In [25]:
df_counties = df['Texas_County'].tolist()

In [26]:
Counties_with_Cases = []

for i in df_counties:
    
    if i in All_Tex_Counties:
        Counties_with_Cases.append(i)
        print(f'{i}---found')
        
    elif i == 'DeWitt':
        Counties_with_Cases.append('De Witt')
        print(f'{i}---found')
    else:
        print(f'Houston we have a problem: {i}')

Dallas---found
Harris---found
Travis---found
Bexar---found
Tarrant---found
Collin---found
Fort Bend---found
Denton---found
Montgomery---found
Galveston---found
Brazoria---found
McLennan---found
Brazos---found
Williamson---found
Lubbock---found
El Paso---found
Smith---found
Bell---found
Nueces---found
Hays---found
Webb---found
Wichita---found
Hidalgo---found
Cameron---found
Ellis---found
Comal---found
Matagorda---found
Guadalupe---found
Jefferson---found
Castro---found
Johnson---found
Midland---found
Hockley---found
Gregg---found
Hardin---found
Kendall---found
Brown---found
De Witt---found
Medina---found
Rockwall---found
Victoria---found
Wharton---found
Angelina---found
Atascosa---found
Bastrop---found
Bowie---found
Calhoun---found
Chambers---found
Deaf Smith---found
Eastland---found
Grayson---found
Grimes---found
Hood---found
Kaufman---found
Liberty---found
Llano---found
Milam---found
Parker---found
Rusk---found
Starr---found
Tom Green---found
Val Verde---found
Walker---found
Austin---found
Blanco---found
Burnet---found
Cass---found
Cherokee---found
Coryell---found
Crane---found
Erath---found
Falls---found
Fannin---found
Fayette---found
Gaines---found
Hale---found
Harrison---found
Hopkins---found
Hunt---found
Jackson---found
Karnes---found
Lamar---found
Lavaca---found
Limestone---found
Martin---found
Maverick---found
Montague---found
Morris---found
Nacogdoches---found
Navarro---found
Oldham---found
Orange---found
Potter---found
Robertson---found
San Patricio---found
Shelby---found
Taylor---found
Terry---found
Upshur---found
Uvalde---found
Van Zandt---found
Willacy---found
Wilson---found
Yoakum---found
Young---found

In [27]:
All_Tex_Counties_df = All_Tex_Counties_df.set_index('CNTY_NM')

In [28]:
Geo_df = All_Tex_Counties_df.loc[Counties_with_Cases]
Geo_df.head()

,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
CNTY_NM,,,,,,,
Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"

In [29]:
Geo_df = Geo_df.reset_index()
Geo_df = Geo_df.rename(columns={"CNTY_NM": "Texas_County"})
Geo_df

,Texas_County,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
1,Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
2,Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
4,Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
...,...,...,...,...,...,...,...,...
100,Van Zandt,-95.836486,32.563690,234,48467,2.402844,0.213777,"(-95.836486, 32.56369)"
101,Willacy,-97.643033,26.471329,245,48489,3.324169,0.155451,"(-97.643033, 26.471329)"
102,Wilson,-98.086210,29.173159,247,48493,1.917176,0.193944,"(-98.08621, 29.173159)"
103,Yoakum,-102.827879,33.172935,251,48501,1.791577,0.200360,"(-102.827879, 33.172935)"
104,Young,-98.687814,33.176708,252,48503,1.941651,0.233022,"(-98.687814, 33.176708)"

In [30]:
result = pd.merge(df, Geo_df, on='Texas_County')
result = result.rename(columns={'X (Lat)':'long', 'Y (Long)':'lat'})

result.head()

,Texas_County,COVID_19_Cases,long,lat,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Dallas,367,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
1,Harris,203,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
2,Travis,137,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,Bexar,113,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
4,Tarrant,100,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"

In [31]:
result = result[['Texas_County', 'COVID_19_Cases', 'lat', 'long']]
result

    Texas_County COVID_19_Cases        lat        long
0         Dallas            367  32.766537  -96.777819
1         Harris            203  29.859671  -95.397821
2         Travis            137  30.334233  -97.781947
3          Bexar            113  29.448845  -98.519663
4        Tarrant            100  32.771852  -97.291165
..           ...            ...        ...         ...
100    Van Zandt              1  32.563690  -95.836486
101      Willacy              1  26.471329  -97.643033
102       Wilson              1  29.173159  -98.086210
103       Yoakum              1  33.172935 -102.827879
104        Young              1  33.176708  -98.687814

[105 rows x 4 columns]

In [32]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lat],row[lon]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['Texas_County', 'COVID_19_Cases']
javascript_file = df_to_geojson(result, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [33]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)

In [34]:
browser.visit(url4)

In [35]:
headlines_harris = browser.html
headline_soup = bs(headlines_harris, 'html.parser')

In [36]:
texts=headline_soup.find('div', class_="text")

In [37]:
p_tags = texts.find_all('p')

In [38]:
paragraphs = []

In [39]:
for p in p_tags:
    
    try:
        strong = p.find('strong')
        print(strong.text + strong.next_sibling)
        paragraphs.append(strong.text + strong.next_sibling)
        
    except:
        print('fuc')
        continue

fuc
fuc
fuc
fuc
MARCH 26 8:59 p.m. — Two residents at a retirement community in The Woodlands have tested positive for COVID-19.
MARCH 26 8:59 p.m. — The city of Alvin has issued a stay-at-home order. The order mirrors what's already in place for Brazoria County, but city officials said it "supersedes all previous Emergency Declaration Orders issued" by the city council. The order also limits the number of people allowed in a funeral home to a maximum of 10 or fewer.
MARCH 26 8:54 p.m. — As Louisiana and New Orleans grapple with an increasing number of COVID-19 cases, local officials are criticizing the federal government for not providing more information ahead of Mardi Gras.
fuc
fuc
fuc
fuc
MARCH 26 7:20 p.m. — Scarface, the legendary Houston rapper, announced today that he’s tested positive for the coronavirus. He made the announcement on Willie D Live’s
fuc
fuc
MARCH 26 5:58 p.m. — Chambers County has added a new amendment to an executive order permitting only essential businesses to remain open amid the coronavirus outbreak.
fuc
fuc
MARCH 26 5:58 p.m. — Rep. Lizzie Fletcher, D-Texas, has gone into self-quarantine after experiencing symptoms consistent with COVID-19. She was tested for the coronavirus today after experiencing flu-like symptoms with a 101-degree fever. Fletcher said in a news release this afternoon she will continue to work from home until she receives those test results.
fuc
MARCH 26 5:50 p.m. —The United States now leads the world in the number of confirmed coronavirus cases. According to a running count by
fuc
MARCH 26 5:15 p.m. — The Houston Health Department
fuc
MARCH 26 5:03 p.m. — A sixth Harris County sheriff's deputy has tested positive for COVID-19. The most recent case is a male deputy in his late 20s. He's currently in quarantine at home. The sheriff's office said the deputy works in the operations side of the Harris County Jail’s 1200 Baker Street building, where he has limited contact with inmates.
MARCH 26 4:49 p.m. — A Harris County Precinct 4 constable deputy has tested positive for COVID-19 since he started showing symptoms and was instructed to go into quarantine at home. The constable's office said the deputy is a middle-aged man who may have been exposed to the virus by a Harris County sheriff's deputy who tested positive. He is being monitored by a doctor, officials said.
MARCH 26 4:15 p.m. — Galveston County Health District reported 13 new people have tested positive, bringing the county total up to 40.
fuc
fuc
fuc
fuc
MARCH 26 3:18 p.m. — Houston Community College has been given the greenlight to produce protective shields using the college's 3-D printers for medical professionals working with coronavirus patients, Harris County Judge Lina Hildalgo said. The school is working in partnership with non-profit
fuc
fuc
fuc
fuc
fuc
fuc
MARCH 26 2:30 p.m. — Houston Public Health reports two more individuals have tested positive for coronavirus, bringing the city's total up to 68. No information was shared about these individuals besides they're being monitored and officials is speaking to those who may have had contact with them.
MARCH 26 2:30 p.m. — Texas Gov. Greg Abbott has issued his latest executive order to protect residents from coronavirus. This time, it's an order requiring air travelers coming into Texas from the New York City and New Orleans areas to go into a 14-day quarantine upon arrival, as well as fill out paperwork documenting their visit. The policy also applies to people flying in from New Jersey or Connecticut airports.
fuc
fuc
fuc
MARCH 26 1:58 p.m. — The
MARCH 26 1:45 p.m. — A 17-year-old patient in New Orleans has died from COVID-19, the respiratory disease caused by the new coronavirus, according to Louisiana public health officials. Officials did not share whether the teen had any pre-existing medical conditions.
MARCH 26 1:40 p.m. — U.S. government officials are developing guidelines to rate counties by risk of virus spread as President Donald Trump aims to start easing nationwide guidelines meant to slowdown the coronavirus outbreak.
fuc
fuc
fuc
fuc
MARCH 26 11:03 a.m. — "Hi Dad."
MARCH 26 10:47 a.m. — Wonderful news from our neighbors to the east:
MARCH 26 10:35 a.m. — Sorry, folks. Add Comicpalooza to the list of favorite Houston events being canceled due to the coronavirus crisis. It was scheduled for Memorial Day weekend.
MARCH 26 10:20 a.m. — Good news for anyone still on the road these days, bad news for Houston's oil business. From AAA - " The statewide gas price average in Texas is $1.80 for a gallon of regular unleaded fuel, according to the AAA Texas Weekend Gas Watch. That price is 11 cents less than this day last week and is 62 cents less per gallon compared to this day last year. Of the major metropolitan areas surveyed in Texas, drivers in Midland are paying the most on average at $2.00 while drivers in Sherman/Denison are paying the least at $1.50 per gallon. The national average price for a gallon of regular unleaded is $2.07, which is 13 cents less compared to this day last week and 58 cents less than the price per gallon at this same time last year. As the price of crude oil drops to levels not seen since the early 2000s, gasoline prices are following suit. "
fuc
fuc
MARCH 26 10:15 a.m. — McDonald's late Wednesday announced it is temporarily halting its all-day breakfast menu to simplify its operations, according to USA TODAY. The fast-food company says the move was made to make things simpler for its crews during the pandemic.
MARCH 26 10:11 a.m. — The WNBA has announced its draft will be a virtual event this season due to the coronavirus pandemic. The draft will be held on April 17 as originally scheduled but will be broadcast without players, fans or media in attendance. WNBA Commissioner Cathy Engelbert says the league is still looking at different scenarios for the start of the regular season, but notes it could begin before the NBA resumes play.
MARCH 26 9:40 a.m. — "Governor Greg Abbott today announced his request for access to interest-free federal loans (known as Title XII funds) to pay unemployment claims and the accelerated release of funds from the Texas account of the federal Unemployment Trust Fund." -
MARCH 26 8:40 a.m. — How to safely unpack your groceries during the outbreak: A doctor who works at Spectrum Health created a video to show how to properly unpack your groceries amid the COVID-19 pandemic.
MARCH 26 7:59 a.m. — Here's
MARCH 26 7:35 a.m. —
MARCH 26 7:25 a.m. — The
MARCH 26 6:20 a.m. — Last night Polk County also announced a "stay at home order" for its residents. Like other orders, it says people should only be leaving home for
MARCH 26 5:48 a.m. — The OakBend Medical Group is launching the
MARCH 26 4:22 a.m. — U.S. Department of Labor figures to be released Thursday are expected to shatter the old record for the greatest number of new unemployment claims filed in a single week. There are more suddenly jobless Americans than during the Great Recession. Some economists project that the U.S. could see around 3 million new unemployment insurance claims when figures are released for the week of March 15-21.
MARCH 26 4:10 a.m. — $2 trillion coronavirus deal... Who will get stimulus checks and when? Here's what you need to know: Most adults would get a one-time direct payment of $1,200. But it may take longer than a couple weeks to get your money. The Associated Press has been working through the text of the 883-page bill and Republican and Democratic leaders in Washington have been sharing information.
MARCH 26 2 a.m. — Russian government officials announced the halting of all international flights starting from Friday. An exception will be made for flights bringing Russians home from abroad, according to a statement published Thursday on the cabinet’s website.
MARCH 26 1 a.m. — Leaders of the world's most powerful economies will convene virtually on Thursday to try and coordinate a response to the fast-spreading coronavirus, which has shuttered businesses and forced well over 1.5 billion people into home isolation.
MARCH 25 11:10 p.m. — US coronavirus deaths pass 1,000.... New York State alone accounted for more than 30,000 cases and close to 300 deaths, most of them in New York City.
MARCH 25 10:50 p.m. The Senate on Wednesday night passed an unparalleled $2 trillion economic rescue package steering aid to businesses, workers and health care systems engulfed by the coronavirus pandemic. The vote was 96-0. The bill now heads to the House, which is not likely to vote until Friday at the earliest.
MARCH 25 10:36 p.m. — It is one of the biggest moments in a family’s life, but now some women in New York are having to deliver their babies without a partner present. Amid the COVID-19 pandemic, Mt. Sinai Health System and New York-Presbyterian have both barred all visitors from the delivery room. Could hospitals in the Houston area make a similar decision?
MARCH 25 10:15 p.m. — As Texas Medical Center hospital workers and first responders are dealing with a critical shortage of personal protective equipment, there are 750,000 medical-grade masks sitting in a Houston warehouse in limbo.
MARCH 25 9:40 p.m. — Workers in several Amazon warehouses have tested positive for coronavirus, including the Katy facility west of Houston.
MARCH 25 9:24 p.m. Chambers County confirmed another positive COVID-19 case, a 40- to 50-year-old woman who lives in the western part of the county. Officials said she is isolated at home, and her case is not travel-related.
MARCH 25 9:23 p.m. Another Harris County Sheriff’s Office deputy tested positive for COVID-19, bringing the agency’s total number of confirmed cases among staff to five.
fuc
MARCH 25 8:41 p.m. Houston ISD has canceled its food distribution program for the remainder of the week.
fuc
fuc
fuc
MARCH 25 7:17 p.m. A Texas Department of Criminal Justice unit staff member at the Holliday Unit in Huntsville has tested positive for COVID-19.
fuc
fuc
fuc
MARCH 25 6:11 p.m. Fort Bend County is opening its first COVID-19 testing site.
fuc
fuc
fuc
fuc
fuc
fuc
fuc
fuc
fuc
fuc
fuc

In [40]:
paragraphs

['MARCH 26 8:59 p.m. —\xa0Two residents at a retirement community in The Woodlands have tested positive for COVID-19.',
 'MARCH 26 8:59 p.m. —\xa0The city of Alvin has issued a stay-at-home order. The order mirrors what\'s already in place for Brazoria County, but city officials said it "supersedes all previous Emergency Declaration Orders issued" by the city council. The order also limits the number of people allowed in a funeral home to a maximum of 10 or fewer.',
 'MARCH 26 8:54 p.m. —\xa0As Louisiana and New Orleans grapple with an increasing number of COVID-19 cases, local officials are criticizing the federal government for not providing more information ahead of Mardi Gras.',
 'MARCH 26 7:20 p.m. —\xa0Scarface, the legendary Houston rapper, announced today that he’s tested positive for the coronavirus. He made the announcement on Willie D Live’s ',
 'MARCH 26 5:58 p.m. —\xa0Chambers County has added a new amendment to an executive order permitting only essential businesses to remain open amid the coronavirus outbreak.\xa0',
 'MARCH 26 5:58 p.m. —\xa0Rep. Lizzie Fletcher, D-Texas, has gone into self-quarantine after experiencing symptoms consistent with COVID-19. She was tested for the coronavirus today after experiencing flu-like symptoms with a 101-degree fever. Fletcher said in a news release this afternoon she will continue to work from home until she receives those test results.',
 'MARCH 26 5:50 p.m. —The United States now leads the world in the number of confirmed coronavirus cases. According to a running count by ',
 'MARCH 26 5:15 p.m. —\xa0The Houston Health Department',
 "MARCH 26 5:03 p.m. —\xa0A sixth Harris County sheriff's deputy has tested positive for COVID-19. The most recent case is a male deputy in his late 20s. He's currently in quarantine at home. The sheriff's office said the deputy works in the operations side of the Harris County Jail’s 1200 Baker Street building, where he has limited contact with inmates.",
 "MARCH 26 4:49 p.m. —\xa0A Harris County Precinct 4 constable deputy has tested positive for COVID-19 since he started showing symptoms and was instructed to go into quarantine at home. The constable's office said the deputy is a middle-aged man who may have been exposed to the virus by a Harris County sheriff's deputy who tested positive. He is being monitored by a doctor, officials said.",
 'MARCH 26 4:15 p.m. —\xa0Galveston County Health District reported 13 new people have tested positive, bringing the county total up to 40.\xa0',
 "MARCH 26 3:18 p.m.\xa0—\xa0Houston Community College has been given the greenlight to produce protective shields using the college's 3-D printers for medical professionals working with coronavirus patients, Harris County Judge Lina Hildalgo said. The school is working in partnership with non-profit ",
 "MARCH 26 2:30 p.m. — Houston Public Health reports two more individuals have tested positive for coronavirus, bringing the city's total up to 68. No information was shared about these individuals besides they're being monitored and officials is speaking to those who may have had contact with them. ",
 "MARCH 26 2:30 p.m. —\xa0Texas Gov. Greg Abbott has issued his latest executive order to protect residents from coronavirus. This time, it's an order requiring air travelers coming into Texas from the New York City and New Orleans areas to go into a 14-day quarantine upon arrival, as well as fill out paperwork documenting their visit. The policy also applies to people flying in from New Jersey or Connecticut airports.",
 'MARCH 26 1:58 p.m. —\xa0The',
 'MARCH 26 1:45 p.m. —\xa0A 17-year-old patient in New Orleans has died from COVID-19, the respiratory disease caused by the new coronavirus, according to Louisiana public health officials. Officials did not share whether the teen had any pre-existing medical conditions. ',
 'MARCH 26 1:40 p.m. —\xa0U.S. government officials are developing guidelines to rate counties by risk of virus spread as President Donald Trump aims to start easing nationwide guidelines meant to slowdown the coronavirus outbreak. ',
 'MARCH 26 11:03 a.m. —\xa0"Hi Dad." ',
 'MARCH 26 10:47 a.m. — Wonderful news from our neighbors to the east: ',
 'MARCH 26 10:35 a.m. —\xa0Sorry, folks. Add Comicpalooza to the list of favorite Houston events being canceled due to the coronavirus crisis. It was scheduled for Memorial Day weekend. ',
 'MARCH 26 10:20 a.m. — Good news for anyone still on the road these days, bad news for Houston\'s oil business. From AAA - " The statewide gas price average in Texas is $1.80 for a gallon of regular unleaded fuel, according to the AAA Texas Weekend Gas Watch. That price is 11 cents less than this day last week and is 62 cents less per gallon compared to this day last year. Of the major metropolitan areas surveyed in Texas, drivers in Midland are paying the most on average at $2.00 while drivers in Sherman/Denison are paying the least at $1.50 per gallon. The national average price for a gallon of regular unleaded is $2.07, which is 13 cents less compared to this day last week and 58 cents less than the price per gallon at this same time last year. As the price of crude oil drops to levels not seen since the early 2000s, gasoline prices are following suit. "',
 "MARCH 26 10:15 a.m. — McDonald's late Wednesday announced it is temporarily halting its all-day breakfast menu to simplify its operations, according to USA TODAY. The fast-food company says the move was made to make things simpler for its crews during the pandemic. ",
 'MARCH 26 10:11 a.m. —\xa0The WNBA has announced its draft will be a virtual event this season due to the coronavirus pandemic. The draft will be held on April 17 as originally scheduled but will be broadcast without players, fans or media in attendance. WNBA Commissioner Cathy Engelbert says the league is still looking at different scenarios for the start of the regular season, but notes it could begin before the NBA resumes play. ',
 'MARCH 26 9:40 a.m. — "Governor Greg Abbott today announced his request for access to interest-free federal loans (known as Title XII funds) to pay unemployment claims and the accelerated release of funds from the Texas account of the federal Unemployment Trust Fund." - ',
 'MARCH 26 8:40 a.m. — How to safely unpack your groceries during the outbreak: A doctor who works at Spectrum Health created a video to show how to properly unpack your groceries amid the COVID-19 pandemic. ',
 "MARCH 26 7:59 a.m. — Here's ",
 'MARCH 26 7:35 a.m. — ',
 'MARCH 26 7:25 a.m. — The ',
 'MARCH 26 6:20 a.m. — Last night Polk County also announced a "stay at home order" for its residents. Like other orders, it says people should only be leaving home for ',
 'MARCH 26 5:48 a.m. — The OakBend Medical Group is launching the ',
 'MARCH 26 4:22 a.m. —\xa0U.S. Department of Labor figures to be released Thursday are expected to shatter the old record for the greatest number of new unemployment claims filed in a single week. There are more suddenly jobless Americans than during the Great Recession. Some economists project that the U.S. could see around 3 million new unemployment insurance claims when figures are released for the week of March 15-21. ',
 "MARCH 26 4:10 a.m. —\xa0$2 trillion coronavirus deal... Who will get stimulus checks and when? Here's what you need to know: Most adults would get a one-time direct payment of $1,200. But it may take longer than a couple weeks to get your money. The Associated Press has been working through the text of the 883-page bill and Republican and Democratic leaders in Washington have been sharing information. ",
 'MARCH 26 2 a.m. —\xa0Russian government officials announced the halting of all international flights starting from Friday. An exception will be made for flights bringing Russians home from abroad, according to a statement published Thursday on the cabinet’s website. ',
 "MARCH 26 1 a.m. — Leaders of the world's most powerful economies will convene virtually on Thursday to try and coordinate a response to the fast-spreading coronavirus, which has shuttered businesses and forced well over 1.5 billion people into home isolation. ",
 'MARCH 25 11:10 p.m. — US coronavirus deaths pass 1,000.... New York State alone accounted for more than 30,000 cases and close to 300 deaths, most of them in New York City. ',
 'MARCH 25 10:50 p.m.\xa0The Senate on Wednesday night passed an unparalleled $2 trillion economic rescue package steering aid to businesses, workers and health care systems engulfed by the coronavirus pandemic. The vote was 96-0. The bill now heads to the House, which is not likely to vote until Friday at the earliest. ',
 'MARCH 25 10:36 p.m. — It is one of the biggest moments in a family’s life, but now some women in New York are having to deliver their babies without a partner present. Amid the COVID-19 pandemic, Mt. Sinai Health System and New York-Presbyterian have both barred all visitors from the delivery room. Could hospitals in the Houston area make a similar decision? ',
 'MARCH 25 10:15 p.m. — As Texas Medical Center hospital workers and first responders are dealing with a critical shortage of personal protective equipment, there are 750,000 medical-grade masks sitting in a Houston warehouse in limbo. ',
 'MARCH 25 9:40 p.m. —\xa0Workers in several Amazon warehouses have tested positive for coronavirus, including the Katy facility west of Houston. ',
 'MARCH 25 9:24 p.m. Chambers County confirmed another positive COVID-19 case, a 40- to 50-year-old woman who lives in the western part of the county. Officials said she is isolated at home, and her case is not travel-related.',
 'MARCH 25 9:23 p.m.\xa0Another Harris County Sheriff’s Office deputy tested positive for COVID-19, bringing the agency’s total number of confirmed cases among staff to five.',
 'MARCH 25 8:41 p.m.\xa0Houston ISD has canceled its food distribution program for the remainder of the week.',
 'MARCH 25 7:17 p.m.\xa0A Texas Department of Criminal Justice unit staff member at the Holliday Unit in Huntsville has tested positive for COVID-19.',
 'MARCH 25 6:11 p.m.\xa0Fort Bend County is opening its first COVID-19 testing site.']

In [41]:
mapped_para = list(map(lambda x: x.replace(u'\xa0', u' '), paragraphs))

In [42]:
mapped_para[:10]

['MARCH 26 8:59 p.m. — Two residents at a retirement community in The Woodlands have tested positive for COVID-19.',
 'MARCH 26 8:59 p.m. — The city of Alvin has issued a stay-at-home order. The order mirrors what\'s already in place for Brazoria County, but city officials said it "supersedes all previous Emergency Declaration Orders issued" by the city council. The order also limits the number of people allowed in a funeral home to a maximum of 10 or fewer.',
 'MARCH 26 8:54 p.m. — As Louisiana and New Orleans grapple with an increasing number of COVID-19 cases, local officials are criticizing the federal government for not providing more information ahead of Mardi Gras.',
 'MARCH 26 7:20 p.m. — Scarface, the legendary Houston rapper, announced today that he’s tested positive for the coronavirus. He made the announcement on Willie D Live’s ',
 'MARCH 26 5:58 p.m. — Chambers County has added a new amendment to an executive order permitting only essential businesses to remain open amid the coronavirus outbreak. ',
 'MARCH 26 5:58 p.m. — Rep. Lizzie Fletcher, D-Texas, has gone into self-quarantine after experiencing symptoms consistent with COVID-19. She was tested for the coronavirus today after experiencing flu-like symptoms with a 101-degree fever. Fletcher said in a news release this afternoon she will continue to work from home until she receives those test results.',
 'MARCH 26 5:50 p.m. —The United States now leads the world in the number of confirmed coronavirus cases. According to a running count by ',
 'MARCH 26 5:15 p.m. — The Houston Health Department',
 "MARCH 26 5:03 p.m. — A sixth Harris County sheriff's deputy has tested positive for COVID-19. The most recent case is a male deputy in his late 20s. He's currently in quarantine at home. The sheriff's office said the deputy works in the operations side of the Harris County Jail’s 1200 Baker Street building, where he has limited contact with inmates.",
 "MARCH 26 4:49 p.m. — A Harris County Precinct 4 constable deputy has tested positive for COVID-19 since he started showing symptoms and was instructed to go into quarantine at home. The constable's office said the deputy is a middle-aged man who may have been exposed to the virus by a Harris County sheriff's deputy who tested positive. He is being monitored by a doctor, officials said."]

In [43]:
latest_headlines_df = pd.DataFrame({'Headline':mapped_para[:10]})

In [44]:
latest_headlines_df .to_csv('static/csv/headlines.csv', index=False, header=True)

In [45]:
browser.quit()