In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json
import os
import shutil

In [2]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [3]:
# URL to find information on Coronavirus
url1 = "https://txdshs.maps.arcgis.com/apps/opsdashboard/index.html#/ed483ecd702b4298ab01e8b9cafc8b83"

url2 = "https://dshs.texas.gov/coronavirus/"

url3 = "http://publichealth.harriscountytx.gov/Resources/2019-Novel-Coronavirus/Harris-County-COVID-19-Confirmed-Cases"

url4 = "https://www.khou.com/section/news/health/coronavirus"

In [4]:
# Visiting the url 
browser.visit(url1)

In [5]:
time.sleep(7)# Creating the Beautiful soup for URL
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# Revise? 
reported_cases = soup.find_all('text')[6].text
reported_cases

'Lab Confirmed COVID-19 Patients'

In [7]:
deaths = soup.find_all('text')[8].text
deaths

'Currently In Texas Hospitals'

In [8]:
df_stats = pd.DataFrame({'Cases':[reported_cases], 'Deaths':[deaths]})
df_stats.to_csv('static/csv/stats.csv', index=False)

In [9]:
# Getting Total Cases and Deaths 
browser.visit(url2)

In [10]:
browser.find_by_text('Accessible version').click()
time.sleep(5)

In [11]:
source = 'C:/Users/zacha/Downloads/'
destination = 'C:/Users/zacha/Documents/COVID-19/'
filename = 'CaseCountData.xlsx'

In [12]:
shutil.move(os.path.join(source, filename), os.path.join(destination, filename))

'C:/Users/zacha/Documents/COVID-19/CaseCountData.xlsx'

In [13]:
# dest = shutil.move(source, destination, )

In [14]:
df = pd.read_excel('CaseCountData.xlsx', header=1).dropna()
df.sort_values(by=['Positive'], ascending=False, inplace=True)
df['County'] = df.apply(lambda x: x['County'].rstrip(), axis=1)
df.to_csv('static/csv/CaseCountData.csv', index=False, header=True)

df

       No.    County  Positive  Fatalities
59    60.0    Harris      1284          17
31    32.0    Dallas      1015          18
132  133.0    Travis       460           6
127  128.0   Tarrant       404           9
8      9.0     Bexar       384          11
..     ...       ...       ...         ...
94    95.0     Mason         1           0
101  102.0  Montague         1           0
104  105.0    Morris         1           0
107  108.0    Newton         1           0
0      1.0  Anderson         1           0

[152 rows x 4 columns]

In [15]:
browser.visit(url3)

In [16]:
harris_table = browser.find_by_id('covidtable')

In [17]:
html_harris = browser.html
harris_soup = bs(html_harris, 'html.parser')

In [18]:
harris_data = []
table = harris_soup.find('table', attrs={'id':'covidtable'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    harris_data.append([ele for ele in cols if ele]) # Get rid of empty values

In [19]:
columns = ['Patient', 'Sex', 'Age_Range', 'Location','Exposure', 'Status']

In [20]:
harris_data = harris_data[1:]

In [21]:
harris_df = pd.DataFrame(harris_data, columns=columns)

In [22]:
harris_df.sort_values(by=['Age_Range'], inplace=True)

In [23]:
harris_df

    Patient     Sex Age_Range Location                   Exposure    Status
43       44    Male     0 - 9       NW  Possible Exposure to Case    Active
45       46  Female     0 - 9       NW  Possible Exposure to Case    Active
172     173  Female     0 - 9       NW  Possible Exposure to Case    Active
185     186  Female     0 - 9       SE  Possible Exposure to Case    Active
147     148    Male   10 - 19       SE  Possible Exposure to Case    Active
..      ...     ...       ...      ...                        ...       ...
154     155  Female       80+       SE      Investigation Pending    Active
246     247  Female       80+       SW      Investigation Pending    Active
15       16    Male       80+       NW          No Known Exposure  Deceased
158     159  Female       80+       NW          History of Travel    Active
193     194  Female       80+       SE          No Known Exposure    Active

[254 rows x 6 columns]

In [24]:
harris_df.to_csv('static/csv/harris_stats.csv', index=False, header=True)

In [25]:
harris_df.head()

    Patient     Sex Age_Range Location                   Exposure  Status
43       44    Male     0 - 9       NW  Possible Exposure to Case  Active
45       46  Female     0 - 9       NW  Possible Exposure to Case  Active
172     173  Female     0 - 9       NW  Possible Exposure to Case  Active
185     186  Female     0 - 9       SE  Possible Exposure to Case  Active
147     148    Male   10 - 19       SE  Possible Exposure to Case  Active

In [26]:
All_Tex_Counties_df = pd.read_csv('static/csv/Texas_Counties.csv')
All_Tex_Counties_df.head()

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,-97.492799,29.456415,Gonzales,90,48177,2.124911,0.257805,"(-97.492799, 29.456415)"
1,-98.697292,27.043405,Jim Hogg,125,48247,2.271751,0.267624,"(-98.697292, 27.043405)"
2,-97.681378,26.924094,Kenedy,66,48261,5.067864,0.389397,"(-97.681378, 26.924094)"
3,-96.965687,30.310651,Lee,144,48287,2.213853,0.153990,"(-96.965687, 30.310651)"
4,-95.853568,32.211881,Henderson,108,48213,3.152909,0.235056,"(-95.853568, 32.211881)"

In [27]:
All_Tex_Counties = All_Tex_Counties_df['CNTY_NM'].tolist()

In [28]:
df_counties = df['County'].tolist()

In [29]:
Counties_with_Cases = []

for i in df_counties:
    
    if i.rstrip() in All_Tex_Counties:
        Counties_with_Cases.append(i.rstrip())
        print(f'{i}---found')
        
    elif i == 'DeWitt':
        Counties_with_Cases.append('De Witt')
        print(f'{i}---found')
    else:
        print(f'Houston we have a problem: {i}')

Harris---found
Dallas---found
Travis---found
Tarrant---found
Bexar---found
Denton---found
Fort Bend---found
Collin---found
Galveston---found
Lubbock---found
Brazoria---found
Montgomery---found
El Paso---found
Webb---found
Hidalgo---found
Cameron---found
Williamson---found
Brazos---found
Bell---found
Smith---found
Jefferson---found
McLennan---found
Nueces---found
Hays---found
Wichita---found
Potter---found
Randall---found
Matagorda---found
Ellis---found
Victoria---found
Guadalupe---found
Taylor---found
Hardin---found
Midland---found
Johnson---found
Ector---found
Orange---found
Comal---found
Tom Green---found
Washington---found
Bowie---found
Nacogdoches---found
Gregg---found
Grayson---found
Rusk---found
Calhoun---found
Shelby---found
Fayette---found
Rockwall---found
Chambers---found
Walker---found
Kendall---found
Hockley---found
Kaufman---found
Angelina---found
Castro---found
Hood---found
Bastrop---found
Wharton---found
Waller---found
Hunt---found
Navarro---found
Polk---found
Hale---found
Erath---found
Donley---found
DeWitt---found
Andrews---found
Starr---found
Liberty---found
Moore---found
Parker---found
Wilson---found
Harrison---found
Lamar---found
Willacy---found
Cherokee---found
Val Verde---found
Deaf Smith---found
Gray---found
San Patricio---found
Austin---found
Coryell---found
Hill---found
Brown---found
Burnet---found
Cass---found
Hopkins---found
Maverick---found
Medina---found
Van Zandt---found
San Augustine---found
Uvalde---found
Panola---found
Terry---found
Caldwell---found
Wise---found
Milam---found
Jackson---found
Lynn---found
Clay---found
Dawson---found
Eastland---found
Llano---found
Live Oak---found
Limestone---found
Grimes---found
Upshur---found
Young---found
Robertson---found
Trinity---found
Wood---found
Karnes---found
Hutchinson---found
Lavaca---found
Oldham---found
Jasper---found
Fannin---found
Jim Wells---found
Kerr---found
Kleberg---found
Crane---found
Gillespie---found
Lee---found
Colorado---found
Leon---found
Burleson---found
Blanco---found
Atascosa---found
Goliad---found
Falls---found
Camp---found
Aransas---found
Franklin---found
Gaines---found
Comanche---found
Palo Pinto---found
Gonzales---found
Hemphill---found
Tyler---found
Henderson---found
Titus---found
Swisher---found
Lamb---found
Lampasas---found
San Jacinto---found
Martin---found
Mason---found
Montague---found
Morris---found
Newton---found
Anderson---found

In [30]:
All_Tex_Counties_df = All_Tex_Counties_df.set_index('CNTY_NM')

In [31]:
Geo_df = All_Tex_Counties_df.loc[Counties_with_Cases]
Geo_df.head()

,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
CNTY_NM,,,,,,,
Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [32]:
Geo_df = Geo_df.reset_index()
Geo_df = Geo_df.rename(columns={"CNTY_NM": "County"})
Geo_df

,County,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
4,Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
...,...,...,...,...,...,...,...,...
147,Mason,-99.226303,30.717423,157,48319,1.926615,0.227715,"(-99.226303, 30.717423)"
148,Montague,-97.724670,33.674963,169,48337,2.090266,0.235633,"(-97.72467, 33.674963)"
149,Morris,-94.732051,33.113685,172,48343,1.538698,0.064495,"(-94.732051, 33.113685)"
150,Newton,-93.744630,30.786200,176,48351,3.669102,0.229430,"(-93.74463, 30.7862)"
151,Anderson,-95.652518,31.813215,1,48001,3.709381,0.265992,"(-95.652518, 31.813215)"

In [33]:
result = pd.merge(df, Geo_df, on='County')
result = result.rename(columns={'X (Lat)':'long', 'Y (Long)':'lat'})

result.head()

,No.,County,Positive,Fatalities,long,lat,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,60.0,Harris,1284,17,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,32.0,Dallas,1015,18,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,133.0,Travis,460,6,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,128.0,Tarrant,404,9,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
4,9.0,Bexar,384,11,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [34]:
result = result[['County', 'Positive', 'Fatalities', 'lat', 'long']]
result

       County  Positive  Fatalities        lat       long
0      Harris      1284          17  29.859671 -95.397821
1      Dallas      1015          18  32.766537 -96.777819
2      Travis       460           6  30.334233 -97.781947
3     Tarrant       404           9  32.771852 -97.291165
4       Bexar       384          11  29.448845 -98.519663
..        ...       ...         ...        ...        ...
146     Mason         1           0  30.717423 -99.226303
147  Montague         1           0  33.674963 -97.724670
148    Morris         1           0  33.113685 -94.732051
149    Newton         1           0  30.786200 -93.744630
150  Anderson         1           0  31.813215 -95.652518

[151 rows x 5 columns]

In [35]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lat],row[lon]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['County', 'Positive', 'Fatalities']
javascript_file = df_to_geojson(result, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [36]:
javascript_file

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'County': 'Harris', 'Positive': 1284, 'Fatalities': 17},
   'geometry': {'type': 'Point', 'coordinates': [29.85967144, -95.39782106]}},
  {'type': 'Feature',
   'properties': {'County': 'Dallas', 'Positive': 1015, 'Fatalities': 18},
   'geometry': {'type': 'Point', 'coordinates': [32.76653746, -96.77781862]}},
  {'type': 'Feature',
   'properties': {'County': 'Travis', 'Positive': 460, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [30.33423319, -97.78194654]}},
  {'type': 'Feature',
   'properties': {'County': 'Tarrant', 'Positive': 404, 'Fatalities': 9},
   'geometry': {'type': 'Point', 'coordinates': [32.77185236, -97.29116473]}},
  {'type': 'Feature',
   'properties': {'County': 'Bexar', 'Positive': 384, 'Fatalities': 11},
   'geometry': {'type': 'Point', 'coordinates': [29.44884523, -98.51966309]}},
  {'type': 'Feature',
   'properties': {'County': 'Denton', 'Positive': 288, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [33.205574, -97.11681154]}},
  {'type': 'Feature',
   'properties': {'County': 'Fort Bend', 'Positive': 268, 'Fatalities': 5},
   'geometry': {'type': 'Point', 'coordinates': [29.52763253, -95.77090562]}},
  {'type': 'Feature',
   'properties': {'County': 'Collin', 'Positive': 256, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [33.18789055, -96.57248871]}},
  {'type': 'Feature',
   'properties': {'County': 'Galveston', 'Positive': 222, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.39424415, -94.96474975]}},
  {'type': 'Feature',
   'properties': {'County': 'Lubbock', 'Positive': 151, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [33.6101944, -101.8205745]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazoria', 'Positive': 144, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [29.19345387, -95.45578479]}},
  {'type': 'Feature',
   'properties': {'County': 'Montgomery', 'Positive': 142, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [30.30022409, -95.50301411]}},
  {'type': 'Feature',
   'properties': {'County': 'El Paso', 'Positive': 106, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [31.768622600000004, -106.23522290000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Webb', 'Positive': 98, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [27.76102524, -99.33170164]}},
  {'type': 'Feature',
   'properties': {'County': 'Hidalgo', 'Positive': 86, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [26.396627, -98.18088681]}},
  {'type': 'Feature',
   'properties': {'County': 'Cameron', 'Positive': 77, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [26.13847728, -97.51499968]}},
  {'type': 'Feature',
   'properties': {'County': 'Williamson', 'Positive': 76, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.64834941, -97.60105467]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazos', 'Positive': 75, 'Fatalities': 5},
   'geometry': {'type': 'Point', 'coordinates': [30.6610425, -96.3022943]}},
  {'type': 'Feature',
   'properties': {'County': 'Bell', 'Positive': 58, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.03778267, -97.47790776]}},
  {'type': 'Feature',
   'properties': {'County': 'Smith', 'Positive': 57, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.37514553, -95.26909511]}},
  {'type': 'Feature',
   'properties': {'County': 'Jefferson', 'Positive': 51, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [29.88425832, -94.1708778]}},
  {'type': 'Feature',
   'properties': {'County': 'McLennan', 'Positive': 51, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.55234489, -97.20184883]}},
  {'type': 'Feature',
   'properties': {'County': 'Nueces', 'Positive': 50, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [27.72621549, -97.61767326]}},
  {'type': 'Feature',
   'properties': {'County': 'Hays', 'Positive': 50, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.05782657, -98.03104087]}},
  {'type': 'Feature',
   'properties': {'County': 'Wichita', 'Positive': 46, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.98421585, -98.70153389]}},
  {'type': 'Feature',
   'properties': {'County': 'Potter', 'Positive': 40, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [35.40128927, -101.8940484]}},
  {'type': 'Feature',
   'properties': {'County': 'Randall', 'Positive': 34, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.96594288, -101.8968527]}},
  {'type': 'Feature',
   'properties': {'County': 'Matagorda', 'Positive': 33, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [28.86711039, -95.98533866]}},
  {'type': 'Feature',
   'properties': {'County': 'Ellis', 'Positive': 32, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [32.34839264, -96.79467417]}},
  {'type': 'Feature',
   'properties': {'County': 'Victoria', 'Positive': 32, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.79640594, -96.97176602]}},
  {'type': 'Feature',
   'properties': {'County': 'Guadalupe', 'Positive': 28, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.58257236, -97.94850308]}},
  {'type': 'Feature',
   'properties': {'County': 'Taylor', 'Positive': 27, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.30138229, -99.89003941]}},
  {'type': 'Feature',
   'properties': {'County': 'Hardin', 'Positive': 26, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.33238431, -94.39021394]}},
  {'type': 'Feature',
   'properties': {'County': 'Midland', 'Positive': 24, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.86921148, -102.0315032]}},
  {'type': 'Feature',
   'properties': {'County': 'Johnson', 'Positive': 23, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.37899918, -97.36660504]}},
  {'type': 'Feature',
   'properties': {'County': 'Ector', 'Positive': 22, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.86908156, -102.5430907]}},
  {'type': 'Feature',
   'properties': {'County': 'Orange', 'Positive': 22, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.12807126, -93.89653794]}},
  {'type': 'Feature',
   'properties': {'County': 'Comal', 'Positive': 21, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [29.80816362, -98.27814516]}},
  {'type': 'Feature',
   'properties': {'County': 'Tom Green', 'Positive': 20, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [31.404444199999997, -100.4620678]}},
  {'type': 'Feature',
   'properties': {'County': 'Washington', 'Positive': 17, 'Fatalities': 1},
   'geometry': {'type': 'Point',
    'coordinates': [30.2145299, -96.40356575000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Bowie', 'Positive': 17, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.44572786, -94.42324298]}},
  {'type': 'Feature',
   'properties': {'County': 'Nacogdoches', 'Positive': 16, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [31.61604108, -94.6158776]}},
  {'type': 'Feature',
   'properties': {'County': 'Gregg', 'Positive': 13, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.48036452, -94.81723694]}},
  {'type': 'Feature',
   'properties': {'County': 'Grayson', 'Positive': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.62684371, -96.67764864]}},
  {'type': 'Feature',
   'properties': {'County': 'Rusk', 'Positive': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.10803224, -94.76169577]}},
  {'type': 'Feature',
   'properties': {'County': 'Calhoun', 'Positive': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.48966896, -96.64708119]}},
  {'type': 'Feature',
   'properties': {'County': 'Shelby', 'Positive': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.79242191, -94.14495261]}},
  {'type': 'Feature',
   'properties': {'County': 'Fayette', 'Positive': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.87683207, -96.91968047]}},
  {'type': 'Feature',
   'properties': {'County': 'Rockwall', 'Positive': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.89786769, -96.40780584]}},
  {'type': 'Feature',
   'properties': {'County': 'Chambers', 'Positive': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.73912276, -94.60891308]}},
  {'type': 'Feature',
   'properties': {'County': 'Walker', 'Positive': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.73899492, -95.57224172]}},
  {'type': 'Feature',
   'properties': {'County': 'Kendall', 'Positive': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.9446397, -98.71160511]}},
  {'type': 'Feature',
   'properties': {'County': 'Hockley', 'Positive': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.60750375, -102.3430919]}},
  {'type': 'Feature',
   'properties': {'County': 'Kaufman', 'Positive': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.59927808, -96.28779341]}},
  {'type': 'Feature',
   'properties': {'County': 'Angelina', 'Positive': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.25475875, -94.611742]}},
  {'type': 'Feature',
   'properties': {'County': 'Castro', 'Positive': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [34.53000304, -102.2617608]}},
  {'type': 'Feature',
   'properties': {'County': 'Hood', 'Positive': 9, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.43107878, -97.83280338]}},
  {'type': 'Feature',
   'properties': {'County': 'Bastrop', 'Positive': 9, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.10353518, -97.31187705]}},
  {'type': 'Feature',
   'properties': {'County': 'Wharton', 'Positive': 9, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.2778362, -96.22197375]}},
  {'type': 'Feature',
   'properties': {'County': 'Waller', 'Positive': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.01093722, -95.98768942]}},
  {'type': 'Feature',
   'properties': {'County': 'Hunt', 'Positive': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.123531, -96.08550014]}},
  {'type': 'Feature',
   'properties': {'County': 'Navarro', 'Positive': 7, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.04695429, -96.47248134]}},
  {'type': 'Feature',
   'properties': {'County': 'Polk', 'Positive': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.79250963, -94.82994949]}},
  {'type': 'Feature',
   'properties': {'County': 'Hale', 'Positive': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.07051782, -101.8269082]}},
  {'type': 'Feature',
   'properties': {'County': 'Erath', 'Positive': 7, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.23640361, -98.21722756]}},
  {'type': 'Feature',
   'properties': {'County': 'Donley', 'Positive': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [34.96540246, -100.81405009999999]}},
  {'type': 'Feature',
   'properties': {'County': 'Andrews', 'Positive': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.30506283, -102.6378839]}},
  {'type': 'Feature',
   'properties': {'County': 'Starr', 'Positive': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [26.56212627, -98.73834895]}},
  {'type': 'Feature',
   'properties': {'County': 'Liberty', 'Positive': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.15153187, -94.8120925]}},
  {'type': 'Feature',
   'properties': {'County': 'Moore', 'Positive': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [35.83768863, -101.8929556]}},
  {'type': 'Feature',
   'properties': {'County': 'Parker', 'Positive': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.77852261, -97.80472194]}},
  {'type': 'Feature',
   'properties': {'County': 'Wilson', 'Positive': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [29.17315896, -98.08621015000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Harrison', 'Positive': 6, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.54814898, -94.37155736]}},
  {'type': 'Feature',
   'properties': {'County': 'Lamar', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.66746186, -95.57110784]}},
  {'type': 'Feature',
   'properties': {'County': 'Willacy', 'Positive': 5, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [26.47132899, -97.64303323]}},
  {'type': 'Feature',
   'properties': {'County': 'Cherokee', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.83695632, -95.16515234]}},
  {'type': 'Feature',
   'properties': {'County': 'Val Verde', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.89300587, -101.15171]}},
  {'type': 'Feature',
   'properties': {'County': 'Deaf Smith', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.96602014, -102.6048162]}},
  {'type': 'Feature',
   'properties': {'County': 'Gray', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [35.40130666000001, -100.812475]}},
  {'type': 'Feature',
   'properties': {'County': 'San Patricio', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.00922186, -97.51859857]}},
  {'type': 'Feature',
   'properties': {'County': 'Austin', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.88711223, -96.27791829]}},
  {'type': 'Feature',
   'properties': {'County': 'Coryell', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.39087578, -97.7991883]}},
  {'type': 'Feature',
   'properties': {'County': 'Hill', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [31.99079033, -97.13241420000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Brown', 'Positive': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.77432313, -98.99989649]}},
  {'type': 'Feature',
   'properties': {'County': 'Burnet', 'Positive': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.78843382, -98.18252382]}},
  {'type': 'Feature',
   'properties': {'County': 'Cass', 'Positive': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.07750446, -94.34348771]}},
  {'type': 'Feature',
   'properties': {'County': 'Hopkins', 'Positive': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.14933822, -95.56414173]}},
  {'type': 'Feature',
   'properties': {'County': 'Maverick', 'Positive': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.74260943, -100.3144638]}},
  {'type': 'Feature',
   'properties': {'County': 'Medina', 'Positive': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.35520493, -99.11008331]}},
  {'type': 'Feature',
   'properties': {'County': 'Van Zandt', 'Positive': 4, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.56368961, -95.8364862]}},
  {'type': 'Feature',
   'properties': {'County': 'San Augustine', 'Positive': 4, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.39427005, -94.16809762]}},
  {'type': 'Feature',
   'properties': {'County': 'Uvalde', 'Positive': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.35669829, -99.76203107]}},
  {'type': 'Feature',
   'properties': {'County': 'Panola', 'Positive': 4, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.16222886, -94.30552858]}},
  {'type': 'Feature',
   'properties': {'County': 'Terry', 'Positive': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17373729, -102.335157]}},
  {'type': 'Feature',
   'properties': {'County': 'Caldwell', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [29.83677935, -97.61983479000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Wise', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.21585061, -97.65444124]}},
  {'type': 'Feature',
   'properties': {'County': 'Milam', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.78625299, -96.97683495]}},
  {'type': 'Feature',
   'properties': {'County': 'Jackson', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.95603133, -96.57883268]}},
  {'type': 'Feature',
   'properties': {'County': 'Lynn', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17685487, -101.8160235]}},
  {'type': 'Feature',
   'properties': {'County': 'Clay', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.78379717, -98.208958]}},
  {'type': 'Feature',
   'properties': {'County': 'Dawson', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.74258137, -101.9476136]}},
  {'type': 'Feature',
   'properties': {'County': 'Eastland', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.32739258, -98.8325713]}},
  {'type': 'Feature',
   'properties': {'County': 'Llano', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.70566579, -98.68387398]}},
  {'type': 'Feature',
   'properties': {'County': 'Live Oak', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.3514375, -98.12474493]}},
  {'type': 'Feature',
   'properties': {'County': 'Limestone', 'Positive': 3, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.54541898, -96.58056718]}},
  {'type': 'Feature',
   'properties': {'County': 'Grimes', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.54360689, -95.98557334]}},
  {'type': 'Feature',
   'properties': {'County': 'Upshur', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.7362827, -94.94132011]}},
  {'type': 'Feature',
   'properties': {'County': 'Young', 'Positive': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17670764, -98.68781396]}},
  {'type': 'Feature',
   'properties': {'County': 'Robertson', 'Positive': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.02705415, -96.51272568]}},
  {'type': 'Feature',
   'properties': {'County': 'Trinity', 'Positive': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.0885069, -95.13551682]}},
  {'type': 'Feature',
   'properties': {'County': 'Wood', 'Positive': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.78634374, -95.38206498]}},
  {'type': 'Feature',
   'properties': {'County': 'Karnes', 'Positive': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.90493782, -97.85960621]}},
  {'type': 'Feature',
   'properties': {'County': 'Hutchinson', 'Positive': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [35.84000866, -101.3547257]}},
  {'type': 'Feature',
   'properties': {'County': 'Lavaca', 'Positive': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.38437003, -96.93020993]}},
  {'type': 'Feature',
   'properties': {'County': 'Oldham', 'Positive': 2, 'Fatalities': 1},

In [37]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)

In [38]:
browser.visit(url4)

In [39]:
headlines_harris = browser.html
headline_soup = bs(headlines_harris, 'html.parser')

In [40]:
# lis = headline_soup.find_all('li', class_="headline-list-with-abstract__item")
links = headline_soup.find_all('div', class_="headline-list-with-abstract__headline")

titles = []
hrefs = []

In [41]:
recent = headline_soup.find_all('div', class_="story-snapshot-with-abstract__headline")[0]

In [42]:
recent

<div class="story-snapshot-with-abstract__headline">
<a class="story-snapshot-with-abstract__link" data-tracking="story-snapshot-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-updates-houston-live-blog-april-6/285-3fca5511-726f-4157-b3cf-da3a3ee0cfca">
<div class="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180" style="overflow-wrap: break-word;">
                        Coronavirus updates: NRG complex to be used as a 'last resort' medical shelter
                    </div>
<div class="story-snapshot-with-abstract__mobile-title dot-ellipsis dot-height-135" style="overflow-wrap: break-word;">
                        Coronavirus updates: NRG complex to be used as a 'last resort' medical shelter
                    </div>
</a>
</div>

In [43]:
recent_title = recent.find('div', class_="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180").text.strip()
recent_title

"Coronavirus updates: NRG complex to be used as a 'last resort' medical shelter"

In [44]:
titles.append(recent_title)
hrefs.append('https://www.khou.com' + recent.a['href'])

In [45]:
links

[<div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-updates-houston-live-blog-april-3/285-6d1d2743-5612-4773-8627-3b9622f845d8">
                     Coronavirus updates: Over 80 people test positive at Texas City nursing home
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" cnx-title="5" data-islink="true" href="">This Day In History
     </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/how-to-make-your-own-face-mask-if-you-dont-ave-a-sewing-machine/285-eaaa5823-eda2-460b-9aa0-218276b808d7">
                     Here's how to make your own face mask if you don't have a sewing machine
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/brazos-county-reports-cases-of-coronavirus/285-bb82428a-417e-4287-b7f8-ef6cf60ffa2b">
                     Update: Fourth person dies from COVID-19 in Brazos County, 68 confirmed cases
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/find-houston-child-care-assistance-now-with-new-program/285-c6ae1a5f-d159-497f-ac14-f1a8fb1d4770">
                     Houston-area essential workers can apply for child care financial assistance
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-pandemic-black-mistrust-of-medicine-looms/285-0535fce3-8741-4c58-ab71-61560a75b332">
                     Amid coronavirus pandemic, black mistrust of medicine looms
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/houston-ballet-season-canceled-coronavirus/285-90168e19-e3c1-4fb5-aa9d-83fde474b071">
                     Houston Ballet cancels remainder of season due to coronavirus crisis
                 </a>
 </div>]

In [46]:

for article in links:
    
    try:
        
        title = article.find('a', class_="headline-list-with-abstract__link").text
        
        link = article.a['href']
        
        if (title and link):
            
            
            print('-------------')
            print(title)
            print(link)
            titles.append(title.strip())
            hrefs.append('https://www.khou.com' + link)
            
    except:
        print('no')

-------------

                    Coronavirus updates: Over 80 people test positive at Texas City nursing home

/article/news/health/coronavirus/coronavirus-updates-houston-live-blog-april-3/285-6d1d2743-5612-4773-8627-3b9622f845d8
-------------

                    Here's how to make your own face mask if you don't have a sewing machine

/article/news/health/how-to-make-your-own-face-mask-if-you-dont-ave-a-sewing-machine/285-eaaa5823-eda2-460b-9aa0-218276b808d7
-------------

                    Update: Fourth person dies from COVID-19 in Brazos County, 68 confirmed cases

/article/news/brazos-county-reports-cases-of-coronavirus/285-bb82428a-417e-4287-b7f8-ef6cf60ffa2b
-------------

                    Houston-area essential workers can apply for child care financial assistance

/article/news/health/coronavirus/find-houston-child-care-assistance-now-with-new-program/285-c6ae1a5f-d159-497f-ac14-f1a8fb1d4770
-------------

                    Amid coronavirus pandemic, black mistrust of medicine looms

/article/news/health/coronavirus/coronavirus-pandemic-black-mistrust-of-medicine-looms/285-0535fce3-8741-4c58-ab71-61560a75b332
-------------

                    Houston Ballet cancels remainder of season due to coronavirus crisis

/article/news/health/coronavirus/houston-ballet-season-canceled-coronavirus/285-90168e19-e3c1-4fb5-aa9d-83fde474b071

In [47]:
latest_headlines_df = pd.DataFrame(list(zip(titles, hrefs)), columns =['Headline', 'link'])

In [48]:
latest_headlines_df

,Headline,link
0,Coronavirus updates: NRG complex to be used as...,https://www.khou.com/article/news/health/coron...
1,Coronavirus updates: Over 80 people test posit...,https://www.khou.com/article/news/health/coron...
2,Here's how to make your own face mask if you d...,https://www.khou.com/article/news/health/how-t...
3,Update: Fourth person dies from COVID-19 in Br...,https://www.khou.com/article/news/brazos-count...
4,Houston-area essential workers can apply for c...,https://www.khou.com/article/news/health/coron...
5,"Amid coronavirus pandemic, black mistrust of m...",https://www.khou.com/article/news/health/coron...
6,Houston Ballet cancels remainder of season due...,https://www.khou.com/article/news/health/coron...

In [49]:
latest_headlines_df.to_csv('static/csv/headlines.csv', index=False, header=True)

In [50]:
browser.quit()