In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json
import os
import shutil

In [2]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [3]:
# URL to find information on Coronavirus
url1 = "https://txdshs.maps.arcgis.com/apps/opsdashboard/index.html#/ed483ecd702b4298ab01e8b9cafc8b83"

url2 = "https://dshs.texas.gov/coronavirus/"

url3 = "http://publichealth.harriscountytx.gov/Resources/2019-Novel-Coronavirus/Harris-County-COVID-19-Confirmed-Cases"

url4 = "https://www.khou.com/section/news/health/coronavirus"

In [4]:
# Visiting the url 
browser.visit(url1)

In [5]:
time.sleep(7)# Creating the Beautiful soup for URL
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# All the Texas counties
# counties = soup.find('nav', attrs={'class':'feature-list'})

# getting all the spans with the information for each Texas county
# rows = counties.find_all('span')

In [7]:
# counter = 0

# county = []
# cases = []

# for row in rows:
#     try:
#         print(rows[counter].text.strip().split('\n'))
#         county.append(rows[counter].text.strip().split('\n')[0])
#         cases.append(rows[counter].text.strip().split('\n')[1])
#         counter = counter + 3
        
#     except:
#         print('failure')

In [8]:
# df = pd.DataFrame(list(zip(county, cases)), columns =['Texas_County', 'COVID_19_Cases'])
# df

In [9]:
# Droping the word 'County'
# df['Texas_County'] = df['Texas_County'].apply(lambda x : x.split(' County')[0])

In [10]:
# Revise? 
reported_cases = soup.find_all('text')[6].text
reported_cases

'2,877'

In [11]:
deaths = soup.find_all('text')[8].text
deaths

'38'

In [12]:
df_stats = pd.DataFrame({'Cases':[reported_cases], 'Deaths':[deaths]})
df_stats.to_csv('static/csv/stats.csv', index=False)

In [13]:
# Getting Total Cases and Deaths 
browser.visit(url2)

In [14]:
browser.find_by_text('Accessible version (Excel)').click()
time.sleep(5)

In [15]:
source = 'C:/Users/zacha/Downloads/'
destination = 'C:/Users/zacha/Documents/COVID-19/'
filename = 'CaseCountData.xlsx'

In [16]:
shutil.move(os.path.join(source, filename), os.path.join(destination, filename))

'C:/Users/zacha/Documents/COVID-19/CaseCountData.xlsx'

In [17]:
# dest = shutil.move(source, destination, )

In [18]:
df = pd.read_excel('CaseCountData.xlsx', header=1).dropna()
df.sort_values(by=['Positive'], ascending=False, inplace=True)
df['County'] = df.apply(lambda x: x['County'].rstrip(), axis=1)
df

       No.    County  Positive  Fatalities
48    49.0    Harris       526           4
25    26.0    Dallas       488          10
107  108.0    Travis       200           1
28    29.0    Denton       165           2
6      7.0     Bexar       157           5
..     ...       ...       ...         ...
39    40.0  Franklin         1           0
36    37.0    Fannin         1           0
91    92.0      Polk         1           0
34    35.0     Erath         1           0
123  124.0     Young         1           0

[124 rows x 4 columns]

In [19]:
browser.visit(url3)

In [20]:
harris_table = browser.find_by_id('covidtable')

In [21]:
html_harris = browser.html
harris_soup = bs(html_harris, 'html.parser')

In [22]:
harris_data = []
table = harris_soup.find('table', attrs={'id':'covidtable'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    harris_data.append([ele for ele in cols if ele]) # Get rid of empty values

In [23]:
columns = ['Patient', 'Sex', 'Age_Range', 'Location','Exposure', 'Status']

In [24]:
harris_data = harris_data[1:]

In [25]:
harris_df = pd.DataFrame(harris_data, columns=columns)

In [26]:
harris_df.sort_values(by=['Age_Range'], inplace=True)

In [27]:
harris_df

    Patient     Sex Age_Range Location                   Exposure    Status
172     173  Female     0 - 9       NW  Possible Exposure to Case    Active
43       44    Male     0 - 9       NW  Possible Exposure to Case    Active
45       46  Female     0 - 9       NW  Possible Exposure to Case    Active
185     186  Female     0 - 9       SE  Possible Exposure to Case    Active
169     170    Male   10 - 19       NW  Possible Exposure to Case    Active
..      ...     ...       ...      ...                        ...       ...
158     159  Female       80+       NW          History of Travel    Active
15       16    Male       80+       NW          No Known Exposure  Deceased
204     205    Male       80+       SE      Investigation Pending    Active
193     194  Female       80+       SE          No Known Exposure    Active
154     155  Female       80+       SE      Investigation Pending    Active

[240 rows x 6 columns]

In [28]:
harris_df.to_csv('static/csv/harris_stats.csv', index=False, header=True)

In [29]:
harris_df.head()

    Patient     Sex Age_Range Location                   Exposure  Status
172     173  Female     0 - 9       NW  Possible Exposure to Case  Active
43       44    Male     0 - 9       NW  Possible Exposure to Case  Active
45       46  Female     0 - 9       NW  Possible Exposure to Case  Active
185     186  Female     0 - 9       SE  Possible Exposure to Case  Active
169     170    Male   10 - 19       NW  Possible Exposure to Case  Active

In [30]:
All_Tex_Counties_df = pd.read_csv('static/csv/Texas_Counties.csv')
All_Tex_Counties_df.head()

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,-97.492799,29.456415,Gonzales,90,48177,2.124911,0.257805,"(-97.492799, 29.456415)"
1,-98.697292,27.043405,Jim Hogg,125,48247,2.271751,0.267624,"(-98.697292, 27.043405)"
2,-97.681378,26.924094,Kenedy,66,48261,5.067864,0.389397,"(-97.681378, 26.924094)"
3,-96.965687,30.310651,Lee,144,48287,2.213853,0.153990,"(-96.965687, 30.310651)"
4,-95.853568,32.211881,Henderson,108,48213,3.152909,0.235056,"(-95.853568, 32.211881)"

In [31]:
All_Tex_Counties = All_Tex_Counties_df['CNTY_NM'].tolist()

In [32]:
df_counties = df['County'].tolist()

In [33]:
Counties_with_Cases = []

for i in df_counties:
    
    if i.rstrip() in All_Tex_Counties:
        Counties_with_Cases.append(i.rstrip())
        print(f'{i}---found')
        
    elif i == 'DeWitt':
        Counties_with_Cases.append('De Witt')
        print(f'{i}---found')
    else:
        print(f'Houston we have a problem: {i}')

Harris---found
Dallas---found
Travis---found
Denton---found
Bexar---found
Tarrant---found
Collin---found
Fort Bend---found
Galveston---found
Montgomery---found
Brazoria---found
Lubbock---found
Brazos---found
El Paso---found
Williamson---found
McLennan---found
Smith---found
Webb---found
Bell---found
Hidalgo---found
Wichita---found
Nueces---found
Cameron---found
Jefferson---found
Hays---found
Ellis---found
Guadalupe---found
Matagorda---found
Midland---found
Comal---found
Hardin---found
Castro---found
Johnson---found
Washington---found
Kendall---found
Taylor---found
Hockley---found
Bastrop---found
Randall---found
Wharton---found
Victoria---found
Grayson---found
Chambers---found
Val Verde---found
Potter---found
Gregg---found
Orange---found
Tom Green---found
Parker---found
Bowie---found
Rockwall---found
Llano---found
Lamar---found
Angelina---found
Medina---found
Navarro---found
Terry---found
Walker---found
Waller---found
Rusk---found
Kaufman---found
DeWitt---found
Ector---found
Hood---found
Brown---found
Hunt---found
Calhoun---found
Eastland---found
Robertson---found
Aransas---found
Fayette---found
Starr---found
Upshur---found
Nacogdoches---found
Deaf Smith---found
Shelby---found
Uvalde---found
Cass---found
Grimes---found
Oldham---found
Karnes---found
Milam---found
Limestone---found
Wilson---found
Atascosa---found
Willacy---found
Austin---found
Liberty---found
Van Zandt---found
Hopkins---found
Lynn---found
Burnet---found
Cherokee---found
Coryell---found
Caldwell---found
Blanco---found
Dawson---found
Burleson---found
Swisher---found
Wise---found
Crane---found
Falls---found
San Patricio---found
San Jacinto---found
Jim Wells---found
Kleberg---found
Jackson---found
Lamb---found
Lavaca---found
Leon---found
Martin---found
Maverick---found
Hill---found
Harrison---found
Hale---found
Montague---found
Moore---found
Morris---found
Gaines---found
Franklin---found
Fannin---found
Polk---found
Erath---found
Young---found

In [34]:
All_Tex_Counties_df = All_Tex_Counties_df.set_index('CNTY_NM')

In [35]:
Geo_df = All_Tex_Counties_df.loc[Counties_with_Cases]
Geo_df.head()

,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
CNTY_NM,,,,,,,
Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
Denton,-97.116812,33.205574,61,48121,1.969324,0.238359,"(-97.116812, 33.205574)"
Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [36]:
Geo_df = Geo_df.reset_index()
Geo_df = Geo_df.rename(columns={"CNTY_NM": "County"})
Geo_df

,County,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,Denton,-97.116812,33.205574,61,48121,1.969324,0.238359,"(-97.116812, 33.205574)"
4,Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
...,...,...,...,...,...,...,...,...
119,Franklin,-95.218414,33.175507,81,48159,1.422054,0.073839,"(-95.218414, 33.175507)"
120,Fannin,-96.106568,33.593969,75,48147,2.266623,0.226257,"(-96.106568, 33.593969)"
121,Polk,-94.829949,30.792510,187,48373,2.781485,0.271059,"(-94.829949, 30.79251)"
122,Erath,-98.217228,32.236404,73,48143,2.114378,0.269412,"(-98.217228, 32.236404)"
123,Young,-98.687814,33.176708,252,48503,1.941651,0.233022,"(-98.687814, 33.176708)"

In [37]:
result = pd.merge(df, Geo_df, on='County')
result = result.rename(columns={'X (Lat)':'long', 'Y (Long)':'lat'})

result.head()

,No.,County,Positive,Fatalities,long,lat,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,49.0,Harris,526,4,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,26.0,Dallas,488,10,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,108.0,Travis,200,1,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,29.0,Denton,165,2,-97.116812,33.205574,61,48121,1.969324,0.238359,"(-97.116812, 33.205574)"
4,7.0,Bexar,157,5,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [38]:
result = result[['County', 'Positive', 'Fatalities', 'lat', 'long']]
result

       County  Positive  Fatalities        lat       long
0      Harris       526           4  29.859671 -95.397821
1      Dallas       488          10  32.766537 -96.777819
2      Travis       200           1  30.334233 -97.781947
3      Denton       165           2  33.205574 -97.116812
4       Bexar       157           5  29.448845 -98.519663
..        ...       ...         ...        ...        ...
118  Franklin         1           0  33.175507 -95.218414
119    Fannin         1           0  33.593969 -96.106568
120      Polk         1           0  30.792510 -94.829949
121     Erath         1           0  32.236404 -98.217228
122     Young         1           0  33.176708 -98.687814

[123 rows x 5 columns]

In [39]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lat],row[lon]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['County', 'Positive', 'Fatalities']
javascript_file = df_to_geojson(result, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [40]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)

In [41]:
browser.visit(url4)

In [42]:
headlines_harris = browser.html
headline_soup = bs(headlines_harris, 'html.parser')

In [43]:
# lis = headline_soup.find_all('li', class_="headline-list-with-abstract__item")
links = headline_soup.find_all('div', class_="headline-list-with-abstract__headline")

titles = []
hrefs = []

In [44]:
recent = headline_soup.find_all('div', class_="story-snapshot-with-abstract__headline")[0]

In [45]:
recent

<div class="story-snapshot-with-abstract__headline">
<a class="story-snapshot-with-abstract__link" data-tracking="story-snapshot-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/floyd-county-woman-with-covid-19-to-be-released-from-hospital/285-719102e6-ae94-44b7-b0f5-b0a82b7622b1">
<div class="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180" style="overflow-wrap: break-word;">
                        Georgia woman diagnosed with COVID-19 released from hospital
                    </div>
<div class="story-snapshot-with-abstract__mobile-title dot-ellipsis dot-height-135" style="overflow-wrap: break-word;">
                        Georgia woman diagnosed with COVID-19 released from hospital
                    </div>
</a>
</div>

In [46]:
recent_title = recent.find('div', class_="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180").text.strip()
recent_title

'Georgia woman diagnosed with COVID-19 released from hospital'

In [47]:
titles.append(recent_title)
hrefs.append('https://www.khou.com' + recent.a['href'])

In [48]:
links

[<div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/river-at-tampa-bay-church-arrest-warrant-hillsborough-county-pastor-rodney-howard-brown/285-16b7919e-3cad-45e6-b0d2-c1c14725e976">
                     Pastor arrested, accused of violating 'safer-at-home' order by holding Sunday services
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/verify-dont-stop-taking-your-asthma-medication/285-08453aa6-156b-44c3-b08d-6411ff1d0965">
                     VERIFY: Don't stop taking your asthma medication
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/houston-coronavirus-testing/285-c95ce8c4-f876-4d6c-8645-4922578617df">
                     Here's how Houston-area residents can get tested for coronavirus
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/houston-area-coronavirus-cases/285-192b8879-08b6-4ec0-8a0f-a0487ead1453">
                     Map: Keeping track of Houston-area coronavirus cases
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/macys-furloughing-workforce-covid-19-coronavirus-pandemic-outbreak-business/285-8bb12379-1e43-4948-84cd-1684e92491c3">
                     'We expect to bring colleagues back on a staggered basis as business resumes' | Macy's furloughing most of its workforce
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/what-does-shelter-in-place-mean-these-are-the-states-that-want-citizens-to-stay-home/285-9f19139a-2f1d-4c8b-9343-2c8fd42b2208">
                     These states have issued stay-at-home orders. What does that mean?
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-live-blog-updates-march-30-2020/285-5691314b-0899-4a51-a16d-a8cbdff95938">
                     Coronavirus live updates: Navy hospital ship arrives in NYC, Tokyo Olympics set new dates
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/john-prine-in-critical-condition-with-covid-19-symptoms/285-facad8e3-1f8d-4f98-bd73-fbb7ba03377d">
                     'Sing his songs' | John Prine's family offers update after he was hospitalized with COVID-19 symptoms
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/life/kuhlman-cellars-virtual-wine-tastings/285-0c1e0126-ee18-489d-8b89-09baea547c64">
                     Texas Hill Country winery starts virtual tastings to keep business going during pandemic
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/crime/montgomery-county-sees-rise-in-domestic-violence-cases-amid-covid-19-isolation/285-73af4c37-6e66-4785-a421-5e3de0f97cf2">
                     Montgomery County sees rise in domestic violence cases amid COVID-19 isolation
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-updates-houston-live-log-march-30/285-b2f89f1b-939c-4a9e-8a03-f5b42d8ef51c">
                     Coronavirus updates: Fort Bend County opens coronavirus testing site, online screening tool
                 </a>
 </div>]

In [49]:

for article in links:
    
    try:
        
        title = article.find('a', class_="headline-list-with-abstract__link").text
        
        link = article.a['href']
        
        if (title and link):
            
            
            print('-------------')
            print(title)
            print(link)
            titles.append(title.strip())
            hrefs.append('https://www.khou.com' + link)
            
    except:
        print('no')

-------------

                    Pastor arrested, accused of violating 'safer-at-home' order by holding Sunday services

/article/news/health/coronavirus/river-at-tampa-bay-church-arrest-warrant-hillsborough-county-pastor-rodney-howard-brown/285-16b7919e-3cad-45e6-b0d2-c1c14725e976
-------------

                    VERIFY: Don't stop taking your asthma medication

/article/news/health/coronavirus/verify-dont-stop-taking-your-asthma-medication/285-08453aa6-156b-44c3-b08d-6411ff1d0965
-------------

                    Here's how Houston-area residents can get tested for coronavirus

/article/news/health/coronavirus/houston-coronavirus-testing/285-c95ce8c4-f876-4d6c-8645-4922578617df
-------------

                    Map: Keeping track of Houston-area coronavirus cases

/article/news/health/coronavirus/houston-area-coronavirus-cases/285-192b8879-08b6-4ec0-8a0f-a0487ead1453
-------------

                    'We expect to bring colleagues back on a staggered basis as business resumes' | Macy's furloughing most of its workforce

/article/news/health/coronavirus/macys-furloughing-workforce-covid-19-coronavirus-pandemic-outbreak-business/285-8bb12379-1e43-4948-84cd-1684e92491c3
-------------

                    These states have issued stay-at-home orders. What does that mean?

/article/news/health/coronavirus/what-does-shelter-in-place-mean-these-are-the-states-that-want-citizens-to-stay-home/285-9f19139a-2f1d-4c8b-9343-2c8fd42b2208
-------------

                    Coronavirus live updates: Navy hospital ship arrives in NYC, Tokyo Olympics set new dates

/article/news/health/coronavirus/coronavirus-live-blog-updates-march-30-2020/285-5691314b-0899-4a51-a16d-a8cbdff95938
-------------

                    'Sing his songs' | John Prine's family offers update after he was hospitalized with COVID-19 symptoms

/article/news/health/coronavirus/john-prine-in-critical-condition-with-covid-19-symptoms/285-facad8e3-1f8d-4f98-bd73-fbb7ba03377d
-------------

                    Texas Hill Country winery starts virtual tastings to keep business going during pandemic

/article/life/kuhlman-cellars-virtual-wine-tastings/285-0c1e0126-ee18-489d-8b89-09baea547c64
-------------

                    Montgomery County sees rise in domestic violence cases amid COVID-19 isolation

/article/news/crime/montgomery-county-sees-rise-in-domestic-violence-cases-amid-covid-19-isolation/285-73af4c37-6e66-4785-a421-5e3de0f97cf2
-------------

                    Coronavirus updates: Fort Bend County opens coronavirus testing site, online screening tool

/article/news/health/coronavirus/coronavirus-updates-houston-live-log-march-30/285-b2f89f1b-939c-4a9e-8a03-f5b42d8ef51c

In [50]:
latest_headlines_df = pd.DataFrame(list(zip(titles, hrefs)), columns =['Headline', 'link'])

In [51]:
latest_headlines_df

,Headline,link
0,Georgia woman diagnosed with COVID-19 released...,https://www.khou.com/article/news/health/coron...
1,"Pastor arrested, accused of violating 'safer-a...",https://www.khou.com/article/news/health/coron...
2,VERIFY: Don't stop taking your asthma medication,https://www.khou.com/article/news/health/coron...
3,Here's how Houston-area residents can get test...,https://www.khou.com/article/news/health/coron...
4,Map: Keeping track of Houston-area coronavirus...,https://www.khou.com/article/news/health/coron...
5,'We expect to bring colleagues back on a stagg...,https://www.khou.com/article/news/health/coron...
6,These states have issued stay-at-home orders. ...,https://www.khou.com/article/news/health/coron...
7,Coronavirus live updates: Navy hospital ship a...,https://www.khou.com/article/news/health/coron...
8,'Sing his songs' | John Prine's family offers ...,https://www.khou.com/article/news/health/coron...
9,Texas Hill Country winery starts virtual tasti...,https://www.khou.com/article/life/kuhlman-cell...
10,Montgomery County sees rise in domestic violen...,https://www.khou.com/article/news/crime/montgo...
11,Coronavirus updates: Fort Bend County opens co...,https://www.khou.com/article/news/health/coron...

In [52]:
latest_headlines_df.to_csv('static/csv/headlines.csv', index=False, header=True)

In [53]:
browser.quit()