In [54]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json
import os
import shutil

In [55]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [56]:
# URL to find information on Coronavirus
url1 = "https://txdshs.maps.arcgis.com/apps/opsdashboard/index.html#/ed483ecd702b4298ab01e8b9cafc8b83"

url2 = "https://dshs.texas.gov/coronavirus/"

url3 = "http://publichealth.harriscountytx.gov/Resources/2019-Novel-Coronavirus/Harris-County-COVID-19-Confirmed-Cases"

url4 = "https://www.khou.com/section/news/health/coronavirus"

In [57]:
# Visiting the url 
browser.visit(url1)

In [58]:
time.sleep(7)# Creating the Beautiful soup for URL
html = browser.html
soup = bs(html, 'html.parser')

In [59]:
# All the Texas counties
# counties = soup.find('nav', attrs={'class':'feature-list'})

# getting all the spans with the information for each Texas county
# rows = counties.find_all('span')

In [60]:
# counter = 0

# county = []
# cases = []

# for row in rows:
#     try:
#         print(rows[counter].text.strip().split('\n'))
#         county.append(rows[counter].text.strip().split('\n')[0])
#         cases.append(rows[counter].text.strip().split('\n')[1])
#         counter = counter + 3
        
#     except:
#         print('failure')

In [61]:
# df = pd.DataFrame(list(zip(county, cases)), columns =['Texas_County', 'COVID_19_Cases'])
# df

In [62]:
# Droping the word 'County'
# df['Texas_County'] = df['Texas_County'].apply(lambda x : x.split(' County')[0])

In [63]:
# Revise? 
reported_cases = soup.find_all('text')[6].text
reported_cases

'2,552'

In [64]:
deaths = soup.find_all('text')[8].text
deaths

'34'

In [65]:
df_stats = pd.DataFrame({'Cases':[reported_cases], 'Deaths':[deaths]})
df_stats.to_csv('static/csv/stats.csv', index=False)

In [66]:
# Getting Total Cases and Deaths 
browser.visit(url2)

In [67]:
browser.find_by_text('Accessible version (Excel)').click()
time.sleep(5)

In [68]:
source = 'C:/Users/zacha/Downloads/'
destination = 'C:/Users/zacha/Documents/COVID-19/'
filename = 'CaseCountData.xlsx'

In [69]:
shutil.move(os.path.join(source, filename), os.path.join(destination, filename))

'C:/Users/zacha/Documents/COVID-19/CaseCountData.xlsx'

In [70]:
# dest = shutil.move(source, destination, )

In [71]:
df = pd.read_excel('CaseCountData.xlsx', header=1).dropna()
df.sort_values(by=['Positive'], ascending=False, inplace=True)
df

       No.         County  Positive  Deaths
47    48.0         Harris       445       3
24    25.0         Dallas       439       9
102  103.0         Travis       179       1
27    28.0         Denton       148       2
5      6.0          Bexar       140       5
..     ...            ...       ...     ...
48    49.0       Harrison         1       0
45    46.0           Hale         1       0
92    93.0    San Jacinto         1       0
93    94.0  San Patricio          1       0
117  118.0          Young         1       0

[118 rows x 4 columns]

In [72]:
browser.visit(url3)

In [73]:
harris_table = browser.find_by_id('covidtable')

In [74]:
html_harris = browser.html
harris_soup = bs(html_harris, 'html.parser')

In [75]:
harris_data = []
table = harris_soup.find('table', attrs={'id':'covidtable'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    harris_data.append([ele for ele in cols if ele]) # Get rid of empty values

In [76]:
columns = ['Patient', 'Sex', 'Age_Range', 'Location','Exposure', 'Status']

In [77]:
harris_data = harris_data[1:]

In [78]:
harris_df = pd.DataFrame(harris_data, columns=columns)

In [79]:
harris_df.sort_values(by=['Age_Range'], inplace=True)

In [80]:
harris_df

    Patient     Sex Age_Range Location                   Exposure    Status
172     173  Female     0 - 9       NW  Possible Exposure to Case    Active
43       44    Male     0 - 9       NW  Possible Exposure to Case    Active
45       46  Female     0 - 9       NW  Possible Exposure to Case    Active
185     186  Female     0 - 9       SE  Possible Exposure to Case    Active
169     170    Male   10 - 19       NW  Possible Exposure to Case    Active
..      ...     ...       ...      ...                        ...       ...
158     159  Female       80+       NW          History of Travel    Active
15       16    Male       80+       NW          No Known Exposure  Deceased
204     205    Male       80+       SE      Investigation Pending    Active
193     194  Female       80+       SE          No Known Exposure    Active
154     155  Female       80+       SE      Investigation Pending    Active

[240 rows x 6 columns]

In [81]:
harris_df.to_csv('static/csv/harris_stats.csv', index=False, header=True)

In [82]:
harris_df.head()

    Patient     Sex Age_Range Location                   Exposure  Status
172     173  Female     0 - 9       NW  Possible Exposure to Case  Active
43       44    Male     0 - 9       NW  Possible Exposure to Case  Active
45       46  Female     0 - 9       NW  Possible Exposure to Case  Active
185     186  Female     0 - 9       SE  Possible Exposure to Case  Active
169     170    Male   10 - 19       NW  Possible Exposure to Case  Active

In [83]:
All_Tex_Counties_df = pd.read_csv('static/csv/Texas_Counties.csv')
All_Tex_Counties_df.head()

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,-97.492799,29.456415,Gonzales,90,48177,2.124911,0.257805,"(-97.492799, 29.456415)"
1,-98.697292,27.043405,Jim Hogg,125,48247,2.271751,0.267624,"(-98.697292, 27.043405)"
2,-97.681378,26.924094,Kenedy,66,48261,5.067864,0.389397,"(-97.681378, 26.924094)"
3,-96.965687,30.310651,Lee,144,48287,2.213853,0.153990,"(-96.965687, 30.310651)"
4,-95.853568,32.211881,Henderson,108,48213,3.152909,0.235056,"(-95.853568, 32.211881)"

In [84]:
All_Tex_Counties = All_Tex_Counties_df['CNTY_NM'].tolist()

In [85]:
df_counties = df['County'].tolist()

In [86]:
Counties_with_Cases = []

for i in df_counties:
    
    if i in All_Tex_Counties:
        Counties_with_Cases.append(i)
        print(f'{i}---found')
        
    elif i == 'DeWitt':
        Counties_with_Cases.append('De Witt')
        print(f'{i}---found')
    else:
        print(f'Houston we have a problem: {i}')

Harris---found
Dallas---found
Travis---found
Denton---found
Bexar---found
Tarrant---found
Collin---found
Fort Bend---found
Montgomery---found
Brazoria---found
Galveston---found
Lubbock---found
Brazos---found
Williamson---found
McLennan---found
El Paso---found
Smith---found
Bell---found
Hidalgo---found
Wichita---found
Webb---found
Nueces---found
Cameron---found
Jefferson---found
Hays---found
Ellis---found
Matagorda---found
Midland---found
Guadalupe---found
Hardin---found
Comal---found
Johnson---found
Castro---found
Hockley---found
Taylor---found
Kendall---found
Wharton---found
Val Verde---found
Washington---found
Bastrop---found
Potter---found
Parker---found
Gregg---found
Rockwall---found
Lamar---found
Medina---found
Randall---found
Angelina---found
Houston we have a problem: Rusk
Walker---found
Bowie---found
Brown---found
Calhoun---found
Chambers---found
Waller---found
Grayson---found
Tom Green---found
Victoria---found
DeWitt---found
Eastland---found
Terry---found
Uvalde---found
Nacogdoches---found
Robertson---found
Willacy---found
Milam---found
Starr---found
Wilson---found
Oldham---found
Kaufman---found
Karnes---found
Austin---found
Llano---found
Grimes---found
Liberty---found
Cass---found
Atascosa---found
Hood---found
Houston we have a problem: Deaf Smith
Van Zandt---found
Fayette---found
Fannin---found
Falls---found
Erath---found
Upshur---found
Ector---found
Martin---found
Dawson---found
Crane---found
Swisher---found
Coryell---found
Cherokee---found
Caldwell---found
Burnet---found
Burleson---found
Blanco---found
Franklin---found
Shelby---found
Gaines---found
Lynn---found
Maverick---found
Limestone---found
Lavaca---found
Montague---found
Lamb---found
Morris---found
Kleberg---found
Navarro---found
Orange---found
Jackson---found
Polk---found
Hunt---found
Hopkins---found
Harrison---found
Hale---found
San Jacinto---found
Houston we have a problem: San Patricio
Young---found

In [87]:
All_Tex_Counties_df = All_Tex_Counties_df.set_index('CNTY_NM')

In [88]:
Geo_df = All_Tex_Counties_df.loc[Counties_with_Cases]
Geo_df.head()

,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
CNTY_NM,,,,,,,
Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
Denton,-97.116812,33.205574,61,48121,1.969324,0.238359,"(-97.116812, 33.205574)"
Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [89]:
Geo_df = Geo_df.reset_index()
Geo_df = Geo_df.rename(columns={"CNTY_NM": "County"})
Geo_df

,County,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,Denton,-97.116812,33.205574,61,48121,1.969324,0.238359,"(-97.116812, 33.205574)"
4,Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
...,...,...,...,...,...,...,...,...
110,Hopkins,-95.564142,33.149338,113,48223,2.294941,0.198587,"(-95.564142, 33.149338)"
111,Harrison,-94.371557,32.548149,103,48203,2.563571,0.227726,"(-94.371557, 32.548149)"
112,Hale,-101.826908,34.070518,96,48189,2.018358,0.254142,"(-101.826908, 34.070518)"
113,San Jacinto,-95.166833,30.579489,204,48407,2.203357,0.153019,"(-95.166833, 30.579489)"
114,Young,-98.687814,33.176708,252,48503,1.941651,0.233022,"(-98.687814, 33.176708)"

In [90]:
result = pd.merge(df, Geo_df, on='County')
result = result.rename(columns={'X (Lat)':'long', 'Y (Long)':'lat'})

result.head()

,No.,County,Positive,Deaths,long,lat,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,48.0,Harris,445,3,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,25.0,Dallas,439,9,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,103.0,Travis,179,1,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,28.0,Denton,148,2,-97.116812,33.205574,61,48121,1.969324,0.238359,"(-97.116812, 33.205574)"
4,6.0,Bexar,140,5,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [91]:
result = result[['County', 'Positive', 'Deaths', 'lat', 'long']]
result

          County  Positive  Deaths        lat        long
0         Harris       445       3  29.859671  -95.397821
1         Dallas       439       9  32.766537  -96.777819
2         Travis       179       1  30.334233  -97.781947
3         Denton       148       2  33.205574  -97.116812
4          Bexar       140       5  29.448845  -98.519663
..           ...       ...     ...        ...         ...
109      Hopkins         1       0  33.149338  -95.564142
110     Harrison         1       0  32.548149  -94.371557
111         Hale         1       0  34.070518 -101.826908
112  San Jacinto         1       0  30.579489  -95.166833
113        Young         1       0  33.176708  -98.687814

[114 rows x 5 columns]

In [92]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lat],row[lon]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['County', 'Positive', 'Deaths']
javascript_file = df_to_geojson(result, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [93]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)

In [94]:
browser.visit(url4)

In [95]:
headlines_harris = browser.html
headline_soup = bs(headlines_harris, 'html.parser')

In [96]:
# lis = headline_soup.find_all('li', class_="headline-list-with-abstract__item")
links = headline_soup.find_all('div', class_="headline-list-with-abstract__headline")

titles = []
hrefs = []

In [97]:
recent = headline_soup.find_all('div', class_="story-snapshot-with-abstract__headline")[0]

In [98]:
recent

<div class="story-snapshot-with-abstract__headline">
<a class="story-snapshot-with-abstract__link" data-tracking="story-snapshot-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-updates-houston-live-log-march-29/285-a63d46dc-c130-48b7-bdbd-2c84660a8e92">
<div class="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180" style="overflow-wrap: break-word;">
                        Coronavirus updates: Sheriff Gonzalez fears COVID-19 outbreak at Harris County Jail
                    </div>
<div class="story-snapshot-with-abstract__mobile-title dot-ellipsis dot-height-135" style="overflow-wrap: break-word;">
                        Coronavirus updates: Sheriff Gonzalez fears COVID-19 outbreak at Harris County Jail
                    </div>
</a>
</div>

In [99]:
recent_title = recent.find('div', class_="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180").text.strip()
recent_title

'Coronavirus updates: Sheriff Gonzalez fears COVID-19 outbreak at Harris County Jail'

In [100]:
titles.append(recent_title)
hrefs.append('https://www.khou.com' + recent.a['href'])

In [101]:
links

[<div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/taco-bell-announces-free-doritos-locos-tacos-for-one-day-only/285-16255950-852f-4604-8302-1e42d2857ebc">
                     Free Doritos Locos Tacos for one day only, Taco Bell announces
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/video/news/health/coronavirus/sunday-evening-coronavirus-headlines-for-march-29-2020/285-4a1d6f67-e490-4f1b-925d-ed65464b1f53">
                     Sunday evening coronavirus headlines for March 29, 2020
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/houston-coronavirus-testing/285-c95ce8c4-f876-4d6c-8645-4922578617df">
                     Here's how Houston-area residents can get tested for coronavirus
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/houston-area-coronavirus-cases/285-192b8879-08b6-4ec0-8a0f-a0487ead1453">
                     Map: Keeping track of Houston-area coronavirus cases
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/video/news/health/coronavirus/coronavirus-stimulus-package-helps-small-business/285-7ca10d0b-dafa-4693-9569-f6a6b1fc6074">
                     Coronavirus stimulus package helps small business
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/john-prine-in-critical-condition-with-covid-19-symptoms/285-facad8e3-1f8d-4f98-bd73-fbb7ba03377d">
                     John Prine in critical condition with COVID-19 symptoms
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/video/news/health/coronavirus/man-gets-coronavirus-after-small-gathering-at-home/285-be52ed7e-b105-40ca-b509-313f38339e4c">
                     Man gets coronavirus after small gathering at home
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/with-coronavirus-spread-out-of-state-visitors-seek-safe-havens-in-texas/285-1c98d3fa-48bc-46a2-b288-5f10714b999e">
                     With coronavirus spread, out-of-state visitors seek safe havens in Texas
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/video/news/health/coronavirus/coronavirus-out-of-state-visitors-seek-safe-havens-in-texas/285-0d4002fb-e96a-4380-b02f-b2e9ec56efab">
                     Coronavirus: Out-of-state visitors seek safe havens in Texas
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/public-beaches-in-galveston-closed-to-stop-spread-of-coronavirus/285-8583e8b1-4aa8-4f19-becc-e859e49b57a3">
                     Galveston public beaches closed until April 5
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-live-updates-march-29/285-e387e28f-f52e-40c4-b68e-c48f1b3c5b0e">
                     Coronavirus live updates: Trump extends distancing guidelines, braces US for death toll
                 </a>
 </div>]

In [102]:

for article in links:
    
    try:
        
        title = article.find('a', class_="headline-list-with-abstract__link").text
        
        link = article.a['href']
        
        if (title and link):
            
            
            print('-------------')
            print(title)
            print(link)
            titles.append(title.strip())
            hrefs.append('https://www.khou.com' + link)
            
    except:
        print('no')

-------------

                    Free Doritos Locos Tacos for one day only, Taco Bell announces

/article/news/health/coronavirus/taco-bell-announces-free-doritos-locos-tacos-for-one-day-only/285-16255950-852f-4604-8302-1e42d2857ebc
-------------

                    Sunday evening coronavirus headlines for March 29, 2020

/video/news/health/coronavirus/sunday-evening-coronavirus-headlines-for-march-29-2020/285-4a1d6f67-e490-4f1b-925d-ed65464b1f53
-------------

                    Here's how Houston-area residents can get tested for coronavirus

/article/news/health/coronavirus/houston-coronavirus-testing/285-c95ce8c4-f876-4d6c-8645-4922578617df
-------------

                    Map: Keeping track of Houston-area coronavirus cases

/article/news/health/coronavirus/houston-area-coronavirus-cases/285-192b8879-08b6-4ec0-8a0f-a0487ead1453
-------------

                    Coronavirus stimulus package helps small business

/video/news/health/coronavirus/coronavirus-stimulus-package-helps-small-business/285-7ca10d0b-dafa-4693-9569-f6a6b1fc6074
-------------

                    John Prine in critical condition with COVID-19 symptoms

/article/news/health/coronavirus/john-prine-in-critical-condition-with-covid-19-symptoms/285-facad8e3-1f8d-4f98-bd73-fbb7ba03377d
-------------

                    Man gets coronavirus after small gathering at home

/video/news/health/coronavirus/man-gets-coronavirus-after-small-gathering-at-home/285-be52ed7e-b105-40ca-b509-313f38339e4c
-------------

                    With coronavirus spread, out-of-state visitors seek safe havens in Texas

/article/news/health/coronavirus/with-coronavirus-spread-out-of-state-visitors-seek-safe-havens-in-texas/285-1c98d3fa-48bc-46a2-b288-5f10714b999e
-------------

                    Coronavirus: Out-of-state visitors seek safe havens in Texas

/video/news/health/coronavirus/coronavirus-out-of-state-visitors-seek-safe-havens-in-texas/285-0d4002fb-e96a-4380-b02f-b2e9ec56efab
-------------

                    Galveston public beaches closed until April 5

/article/news/health/coronavirus/public-beaches-in-galveston-closed-to-stop-spread-of-coronavirus/285-8583e8b1-4aa8-4f19-becc-e859e49b57a3
-------------

                    Coronavirus live updates: Trump extends distancing guidelines, braces US for death toll

/article/news/health/coronavirus/coronavirus-live-updates-march-29/285-e387e28f-f52e-40c4-b68e-c48f1b3c5b0e

In [103]:
latest_headlines_df = pd.DataFrame(list(zip(titles, hrefs)), columns =['Headline', 'link'])

In [104]:
latest_headlines_df

,Headline,link
0,Coronavirus updates: Sheriff Gonzalez fears CO...,https://www.khou.com/article/news/health/coron...
1,"Free Doritos Locos Tacos for one day only, Tac...",https://www.khou.com/article/news/health/coron...
2,Sunday evening coronavirus headlines for March...,https://www.khou.com/video/news/health/coronav...
3,Here's how Houston-area residents can get test...,https://www.khou.com/article/news/health/coron...
4,Map: Keeping track of Houston-area coronavirus...,https://www.khou.com/article/news/health/coron...
5,Coronavirus stimulus package helps small business,https://www.khou.com/video/news/health/coronav...
6,John Prine in critical condition with COVID-19...,https://www.khou.com/article/news/health/coron...
7,Man gets coronavirus after small gathering at ...,https://www.khou.com/video/news/health/coronav...
8,"With coronavirus spread, out-of-state visitors...",https://www.khou.com/article/news/health/coron...
9,Coronavirus: Out-of-state visitors seek safe h...,https://www.khou.com/video/news/health/coronav...
10,Galveston public beaches closed until April 5,https://www.khou.com/article/news/health/coron...
11,Coronavirus live updates: Trump extends distan...,https://www.khou.com/article/news/health/coron...

In [105]:
latest_headlines_df.to_csv('static/csv/headlines.csv', index=False, header=True)

In [106]:
browser.quit()