In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json
import os
import shutil

In [2]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [3]:
# URL to find information on Coronavirus
url1 = "https://txdshs.maps.arcgis.com/apps/opsdashboard/index.html#/ed483ecd702b4298ab01e8b9cafc8b83"

url2 = "https://dshs.texas.gov/coronavirus/"

# url3 = "http://publichealth.harriscountytx.gov/Resources/2019-Novel-Coronavirus/Harris-County-COVID-19-Confirmed-Cases"

url4 = "https://www.khou.com/section/news/health/coronavirus"

In [4]:
# Visiting the url 
browser.visit(url1)

In [5]:
time.sleep(7)# Creating the Beautiful soup for URL
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# Revise? 
reported_cases = soup.find_all('text')[9].text
reported_cases

'22,806'

In [7]:
deaths = soup.find_all('text')[11].text
deaths

'593'

In [8]:
df_stats = pd.DataFrame({'Cases':[reported_cases], 'Deaths':[deaths]})
df_stats.to_csv('static/csv/stats.csv', index=False)

In [9]:
# Getting Total Cases and Deaths 
browser.visit(url2)

In [10]:
browser.find_by_text('Accessible version').click()
time.sleep(5)

In [11]:
source = 'C:/Users/zacha/Downloads/'
destination = 'C:/Users/zacha/Documents/COVID-19/'
filename = 'CaseCountData.xlsx'

In [12]:
shutil.move(os.path.join(source, filename), os.path.join(destination, filename))

'C:/Users/zacha/Documents/COVID-19/CaseCountData.xlsx'

In [13]:
# dest = shutil.move(source, destination, )

In [14]:
df = pd.read_excel('CaseCountData.xlsx', header=1).dropna()
df.sort_values(by=['Positive'], ascending=False, inplace=True)
df['County'] = df.apply(lambda x: x['County'].rstrip(), axis=1)
df.to_csv('static/csv/CaseCountData.csv', index=False, header=True)

df

     No.    County  Positive  Fatalities
81    82    Harris      5330          82
44    45    Dallas      2763          72
173  174   Tarrant      1559          45
178  179    Travis      1312          31
11    12     Bexar      1167          43
..   ...       ...       ...         ...
134  135  Mitchell         1           0
50    51   Dickens         1           0
51    52    Dimmit         1           0
162  163    Sabine         1           0
203  204    Zavala         1           0

[204 rows x 4 columns]

In [15]:
df = df.rename(columns={"Positive": "Cases"})

In [16]:
df

     No.    County  Cases  Fatalities
81    82    Harris   5330          82
44    45    Dallas   2763          72
173  174   Tarrant   1559          45
178  179    Travis   1312          31
11    12     Bexar   1167          43
..   ...       ...    ...         ...
134  135  Mitchell      1           0
50    51   Dickens      1           0
51    52    Dimmit      1           0
162  163    Sabine      1           0
203  204    Zavala      1           0

[204 rows x 4 columns]

In [17]:
# browser.visit(url3)

In [18]:
# harris_table = browser.find_by_id('covidtable')

In [19]:
# html_harris = browser.html
# harris_soup = bs(html_harris, 'html.parser')

In [20]:
# harris_data = []
# table = harris_soup.find('table', attrs={'id':'covidtable'})
# table_body = table.find('tbody')

# rows = table_body.find_all('tr')
# for row in rows:
#     cols = row.find_all('td')
#     cols = [ele.text.strip() for ele in cols]
#     harris_data.append([ele for ele in cols if ele])

In [21]:
# columns = ['Patient', 'Sex', 'Age_Range', 'Location','Exposure', 'Status']

In [22]:
# harris_data = harris_data[1:]

In [23]:
# harris_df = pd.DataFrame(harris_data, columns=columns)

In [24]:
# harris_df.sort_values(by=['Age_Range'], inplace=True)

In [25]:
# harris_df.to_csv('static/csv/harris_stats.csv', index=False, header=True)

In [26]:
# harris_df.head()

In [27]:
All_Tex_Counties_df = pd.read_csv('static/csv/Texas_Counties.csv')
All_Tex_Counties_df.head()

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,-97.492799,29.456415,Gonzales,90,48177,2.124911,0.257805,"(-97.492799, 29.456415)"
1,-98.697292,27.043405,Jim Hogg,125,48247,2.271751,0.267624,"(-98.697292, 27.043405)"
2,-97.681378,26.924094,Kenedy,66,48261,5.067864,0.389397,"(-97.681378, 26.924094)"
3,-96.965687,30.310651,Lee,144,48287,2.213853,0.153990,"(-96.965687, 30.310651)"
4,-95.853568,32.211881,Henderson,108,48213,3.152909,0.235056,"(-95.853568, 32.211881)"

In [28]:
All_Tex_Counties = All_Tex_Counties_df['CNTY_NM'].tolist()

In [29]:
df_counties = df['County'].tolist()

In [30]:
Counties_with_Cases = []

for i in df_counties:
    
    if i.rstrip() in All_Tex_Counties:
        Counties_with_Cases.append(i.rstrip())
        print(f'{i}---found')
        
    elif i == 'DeWitt':
        Counties_with_Cases.append('De Witt')
        print(f'{i}---found')
    else:
        print(f'Houston we have a problem: {i}')

Harris---found
Dallas---found
Tarrant---found
Travis---found
Bexar---found
Fort Bend---found
El Paso---found
Denton---found
Collin---found
Galveston---found
Lubbock---found
Montgomery---found
Brazoria---found
Cameron---found
Webb---found
Hidalgo---found
Jefferson---found
Potter---found
Taylor---found
Moore---found
Williamson---found
Brazos---found
Bell---found
Walker---found
Hays---found
Randall---found
Smith---found
Ellis---found
Nacogdoches---found
Victoria---found
Coryell---found
Hardin---found
Nueces---found
Shelby---found
McLennan---found
Washington---found
Panola---found
Midland---found
Harrison---found
Ector---found
Bowie---found
Guadalupe---found
Orange---found
Kaufman---found
Wichita---found
Gregg---found
Matagorda---found
Bastrop---found
Johnson---found
Rockwall---found
Comal---found
Tom Green---found
Chambers---found
Hunt---found
Liberty---found
Wharton---found
Angelina---found
Gray---found
Rusk---found
Navarro---found
Wilson---found
Waller---found
Donley---found
Calhoun---found
Parker---found
Henderson---found
Deaf Smith---found
Grayson---found
Hale---found
Hockley---found
Andrews---found
Polk---found
Dawson---found
Medina---found
Brown---found
Hood---found
San Augustine---found
Anderson---found
Fayette---found
Titus---found
Kendall---found
Hill---found
Maverick---found
DeWitt---found
Burnet---found
Atascosa---found
Wise---found
Van Zandt---found
Milam---found
Upshur---found
Fannin---found
Castro---found
Grimes---found
Austin---found
Cherokee---found
Val Verde---found
Erath---found
Cass---found
Limestone---found
San Patricio---found
Burleson---found
Sherman---found
Terry---found
Caldwell---found
Colorado---found
Jasper---found
Hutchinson---found
Willacy---found
Lamar---found
Trinity---found
San Jacinto---found
Palo Pinto---found
Jones---found
Starr---found
Swisher---found
Kleberg---found
Zapata---found
Wood---found
Jackson---found
Uvalde---found
Marion---found
Tyler---found
Pecos---found
Goliad---found
Bee---found
Montague---found
Blanco---found
Camp---found
Morris---found
Hamilton---found
Live Oak---found
Kerr---found
Lynn---found
Leon---found
Lavaca---found
Howard---found
Parmer---found
Cooke---found
Jack---found
Young---found
Hopkins---found
Bandera---found
Dallam---found
Hartley---found
Gonzales---found
Houston---found
Clay---found
Freestone---found
Winkler---found
McCulloch---found
Comanche---found
Oldham---found
Bosque---found
Karnes---found
Wheeler---found
Llano---found
Eastland---found
Floyd---found
Aransas---found
Scurry---found
Crane---found
Robertson---found
Madison---found
Lee---found
Lampasas---found
Lamb---found
Crosby---found
Hansford---found
Newton---found
Jim Wells---found
Gaines---found
Rains---found
Roberts---found
Martin---found
Franklin---found
Jim Hogg---found
Armstrong---found
Frio---found
Yoakum---found
Wilbarger---found
Falls---found
Knox---found
La Salle---found
Hemphill---found
Gillespie---found
Duval---found
Brooks---found
Mason---found
Red River---found
Childress---found
Carson---found
Cochran---found
Concho---found
Ochiltree---found
Stephens---found
Nolan---found
Callahan---found
Motley---found
Delta---found
Mitchell---found
Dickens---found
Dimmit---found
Sabine---found
Zavala---found

In [31]:
All_Tex_Counties_df = All_Tex_Counties_df.set_index('CNTY_NM')

In [32]:
Geo_df = All_Tex_Counties_df.loc[Counties_with_Cases]
Geo_df.head()

,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
CNTY_NM,,,,,,,
Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [33]:
Geo_df = Geo_df.reset_index()
Geo_df = Geo_df.rename(columns={"CNTY_NM": "County"})
Geo_df

,County,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
3,Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
4,Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
...,...,...,...,...,...,...,...,...
199,Mitchell,-100.921113,32.306360,168,48335,1.914674,0.227361,"(-100.921113, 32.30636)"
200,Dickens,-100.778814,33.616634,63,48125,1.920691,0.227700,"(-100.778814, 33.616634)"
201,Dimmit,-99.760574,28.421612,64,48127,2.324664,0.314454,"(-99.760574, 28.421612)"
202,Sabine,-93.851704,31.343219,202,48403,2.033399,0.141503,"(-93.851704, 31.343219)"
203,Zavala,-99.761020,28.865306,254,48507,2.300184,0.311031,"(-99.76102, 28.865306)"

In [34]:
result = pd.merge(df, Geo_df, on='County')
result = result.rename(columns={'X (Lat)':'long', 'Y (Long)':'lat'})

result.head()

,No.,County,Cases,Fatalities,long,lat,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,82,Harris,5330,82,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,45,Dallas,2763,72,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,174,Tarrant,1559,45,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
3,179,Travis,1312,31,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
4,12,Bexar,1167,43,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [35]:
result = result[['County', 'Cases', 'Fatalities', 'lat', 'long']]
result

       County  Cases  Fatalities        lat        long
0      Harris   5330          82  29.859671  -95.397821
1      Dallas   2763          72  32.766537  -96.777819
2     Tarrant   1559          45  32.771852  -97.291165
3      Travis   1312          31  30.334233  -97.781947
4       Bexar   1167          43  29.448845  -98.519663
..        ...    ...         ...        ...         ...
198  Mitchell      1           0  32.306360 -100.921113
199   Dickens      1           0  33.616634 -100.778814
200    Dimmit      1           0  28.421612  -99.760574
201    Sabine      1           0  31.343219  -93.851704
202    Zavala      1           0  28.865306  -99.761020

[203 rows x 5 columns]

In [36]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lat],row[lon]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['County', 'Cases', 'Fatalities']
javascript_file = df_to_geojson(result, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [37]:
javascript_file

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'County': 'Harris', 'Cases': 5330, 'Fatalities': 82},
   'geometry': {'type': 'Point', 'coordinates': [29.85967144, -95.39782106]}},
  {'type': 'Feature',
   'properties': {'County': 'Dallas', 'Cases': 2763, 'Fatalities': 72},
   'geometry': {'type': 'Point', 'coordinates': [32.76653746, -96.77781862]}},
  {'type': 'Feature',
   'properties': {'County': 'Tarrant', 'Cases': 1559, 'Fatalities': 45},
   'geometry': {'type': 'Point', 'coordinates': [32.77185236, -97.29116473]}},
  {'type': 'Feature',
   'properties': {'County': 'Travis', 'Cases': 1312, 'Fatalities': 31},
   'geometry': {'type': 'Point', 'coordinates': [30.33423319, -97.78194654]}},
  {'type': 'Feature',
   'properties': {'County': 'Bexar', 'Cases': 1167, 'Fatalities': 43},
   'geometry': {'type': 'Point', 'coordinates': [29.44884523, -98.51966309]}},
  {'type': 'Feature',
   'properties': {'County': 'Fort Bend', 'Cases': 889, 'Fatalities': 20},
   'geometry': {'type': 'Point', 'coordinates': [29.52763253, -95.77090562]}},
  {'type': 'Feature',
   'properties': {'County': 'El Paso', 'Cases': 674, 'Fatalities': 10},
   'geometry': {'type': 'Point',
    'coordinates': [31.768622600000004, -106.23522290000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Denton', 'Cases': 661, 'Fatalities': 19},
   'geometry': {'type': 'Point', 'coordinates': [33.205574, -97.11681154]}},
  {'type': 'Feature',
   'properties': {'County': 'Collin', 'Cases': 609, 'Fatalities': 14},
   'geometry': {'type': 'Point', 'coordinates': [33.18789055, -96.57248871]}},
  {'type': 'Feature',
   'properties': {'County': 'Galveston', 'Cases': 507, 'Fatalities': 21},
   'geometry': {'type': 'Point', 'coordinates': [29.39424415, -94.96474975]}},
  {'type': 'Feature',
   'properties': {'County': 'Lubbock', 'Cases': 481, 'Fatalities': 40},
   'geometry': {'type': 'Point', 'coordinates': [33.6101944, -101.8205745]}},
  {'type': 'Feature',
   'properties': {'County': 'Montgomery', 'Cases': 467, 'Fatalities': 8},
   'geometry': {'type': 'Point', 'coordinates': [30.30022409, -95.50301411]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazoria', 'Cases': 392, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [29.19345387, -95.45578479]}},
  {'type': 'Feature',
   'properties': {'County': 'Cameron', 'Cases': 333, 'Fatalities': 12},
   'geometry': {'type': 'Point', 'coordinates': [26.13847728, -97.51499968]}},
  {'type': 'Feature',
   'properties': {'County': 'Webb', 'Cases': 321, 'Fatalities': 12},
   'geometry': {'type': 'Point', 'coordinates': [27.76102524, -99.33170164]}},
  {'type': 'Feature',
   'properties': {'County': 'Hidalgo', 'Cases': 290, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [26.396627, -98.18088681]}},
  {'type': 'Feature',
   'properties': {'County': 'Jefferson', 'Cases': 234, 'Fatalities': 16},
   'geometry': {'type': 'Point', 'coordinates': [29.88425832, -94.1708778]}},
  {'type': 'Feature',
   'properties': {'County': 'Potter', 'Cases': 221, 'Fatalities': 5},
   'geometry': {'type': 'Point', 'coordinates': [35.40128927, -101.8940484]}},
  {'type': 'Feature',
   'properties': {'County': 'Taylor', 'Cases': 191, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [32.30138229, -99.89003941]}},
  {'type': 'Feature',
   'properties': {'County': 'Moore', 'Cases': 186, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [35.83768863, -101.8929556]}},
  {'type': 'Feature',
   'properties': {'County': 'Williamson', 'Cases': 182, 'Fatalities': 5},
   'geometry': {'type': 'Point', 'coordinates': [30.64834941, -97.60105467]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazos', 'Cases': 177, 'Fatalities': 16},
   'geometry': {'type': 'Point', 'coordinates': [30.6610425, -96.3022943]}},
  {'type': 'Feature',
   'properties': {'County': 'Bell', 'Cases': 161, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [31.03778267, -97.47790776]}},
  {'type': 'Feature',
   'properties': {'County': 'Walker', 'Cases': 151, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [30.73899492, -95.57224172]}},
  {'type': 'Feature',
   'properties': {'County': 'Hays', 'Cases': 140, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.05782657, -98.03104087]}},
  {'type': 'Feature',
   'properties': {'County': 'Randall', 'Cases': 137, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [34.96594288, -101.8968527]}},
  {'type': 'Feature',
   'properties': {'County': 'Smith', 'Cases': 131, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [32.37514553, -95.26909511]}},
  {'type': 'Feature',
   'properties': {'County': 'Ellis', 'Cases': 121, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [32.34839264, -96.79467417]}},
  {'type': 'Feature',
   'properties': {'County': 'Nacogdoches', 'Cases': 115, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [31.61604108, -94.6158776]}},
  {'type': 'Feature',
   'properties': {'County': 'Victoria', 'Cases': 105, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [28.79640594, -96.97176602]}},
  {'type': 'Feature',
   'properties': {'County': 'Coryell', 'Cases': 103, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.39087578, -97.7991883]}},
  {'type': 'Feature',
   'properties': {'County': 'Hardin', 'Cases': 91, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [30.33238431, -94.39021394]}},
  {'type': 'Feature',
   'properties': {'County': 'Nueces', 'Cases': 91, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [27.72621549, -97.61767326]}},
  {'type': 'Feature',
   'properties': {'County': 'Shelby', 'Cases': 86, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.79242191, -94.14495261]}},
  {'type': 'Feature',
   'properties': {'County': 'McLennan', 'Cases': 81, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [31.55234489, -97.20184883]}},
  {'type': 'Feature',
   'properties': {'County': 'Washington', 'Cases': 78, 'Fatalities': 6},
   'geometry': {'type': 'Point',
    'coordinates': [30.2145299, -96.40356575000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Panola', 'Cases': 70, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.16222886, -94.30552858]}},
  {'type': 'Feature',
   'properties': {'County': 'Midland', 'Cases': 69, 'Fatalities': 5},
   'geometry': {'type': 'Point', 'coordinates': [31.86921148, -102.0315032]}},
  {'type': 'Feature',
   'properties': {'County': 'Harrison', 'Cases': 69, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.54814898, -94.37155736]}},
  {'type': 'Feature',
   'properties': {'County': 'Ector', 'Cases': 67, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [31.86908156, -102.5430907]}},
  {'type': 'Feature',
   'properties': {'County': 'Bowie', 'Cases': 67, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.44572786, -94.42324298]}},
  {'type': 'Feature',
   'properties': {'County': 'Guadalupe', 'Cases': 64, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.58257236, -97.94850308]}},
  {'type': 'Feature',
   'properties': {'County': 'Orange', 'Cases': 63, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.12807126, -93.89653794]}},
  {'type': 'Feature',
   'properties': {'County': 'Kaufman', 'Cases': 62, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.59927808, -96.28779341]}},
  {'type': 'Feature',
   'properties': {'County': 'Wichita', 'Cases': 62, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [33.98421585, -98.70153389]}},
  {'type': 'Feature',
   'properties': {'County': 'Gregg', 'Cases': 58, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.48036452, -94.81723694]}},
  {'type': 'Feature',
   'properties': {'County': 'Matagorda', 'Cases': 58, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [28.86711039, -95.98533866]}},
  {'type': 'Feature',
   'properties': {'County': 'Bastrop', 'Cases': 57, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [30.10353518, -97.31187705]}},
  {'type': 'Feature',
   'properties': {'County': 'Johnson', 'Cases': 54, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.37899918, -97.36660504]}},
  {'type': 'Feature',
   'properties': {'County': 'Rockwall', 'Cases': 49, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.89786769, -96.40780584]}},
  {'type': 'Feature',
   'properties': {'County': 'Comal', 'Cases': 48, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [29.80816362, -98.27814516]}},
  {'type': 'Feature',
   'properties': {'County': 'Tom Green', 'Cases': 42, 'Fatalities': 1},
   'geometry': {'type': 'Point',
    'coordinates': [31.404444199999997, -100.4620678]}},
  {'type': 'Feature',
   'properties': {'County': 'Chambers', 'Cases': 41, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.73912276, -94.60891308]}},
  {'type': 'Feature',
   'properties': {'County': 'Hunt', 'Cases': 37, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [33.123531, -96.08550014]}},
  {'type': 'Feature',
   'properties': {'County': 'Liberty', 'Cases': 37, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.15153187, -94.8120925]}},
  {'type': 'Feature',
   'properties': {'County': 'Wharton', 'Cases': 36, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.2778362, -96.22197375]}},
  {'type': 'Feature',
   'properties': {'County': 'Angelina', 'Cases': 33, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.25475875, -94.611742]}},
  {'type': 'Feature',
   'properties': {'County': 'Gray', 'Cases': 32, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [35.40130666000001, -100.812475]}},
  {'type': 'Feature',
   'properties': {'County': 'Rusk', 'Cases': 30, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.10803224, -94.76169577]}},
  {'type': 'Feature',
   'properties': {'County': 'Navarro', 'Cases': 26, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [32.04695429, -96.47248134]}},
  {'type': 'Feature',
   'properties': {'County': 'Wilson', 'Cases': 25, 'Fatalities': 2},
   'geometry': {'type': 'Point',
    'coordinates': [29.17315896, -98.08621015000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Waller', 'Cases': 25, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.01093722, -95.98768942]}},
  {'type': 'Feature',
   'properties': {'County': 'Donley', 'Cases': 24, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [34.96540246, -100.81405009999999]}},
  {'type': 'Feature',
   'properties': {'County': 'Calhoun', 'Cases': 23, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [28.48966896, -96.64708119]}},
  {'type': 'Feature',
   'properties': {'County': 'Parker', 'Cases': 23, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.77852261, -97.80472194]}},
  {'type': 'Feature',
   'properties': {'County': 'Henderson', 'Cases': 22, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [32.21188078, -95.85356847000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Deaf Smith', 'Cases': 21, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.96602014, -102.6048162]}},
  {'type': 'Feature',
   'properties': {'County': 'Grayson', 'Cases': 19, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.62684371, -96.67764864]}},
  {'type': 'Feature',
   'properties': {'County': 'Hale', 'Cases': 19, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [34.07051782, -101.8269082]}},
  {'type': 'Feature',
   'properties': {'County': 'Hockley', 'Cases': 19, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.60750375, -102.3430919]}},
  {'type': 'Feature',
   'properties': {'County': 'Andrews', 'Cases': 19, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.30506283, -102.6378839]}},
  {'type': 'Feature',
   'properties': {'County': 'Polk', 'Cases': 18, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.79250963, -94.82994949]}},
  {'type': 'Feature',
   'properties': {'County': 'Dawson', 'Cases': 18, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.74258137, -101.9476136]}},
  {'type': 'Feature',
   'properties': {'County': 'Medina', 'Cases': 17, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [29.35520493, -99.11008331]}},
  {'type': 'Feature',
   'properties': {'County': 'Brown', 'Cases': 17, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.77432313, -98.99989649]}},
  {'type': 'Feature',
   'properties': {'County': 'Hood', 'Cases': 16, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [32.43107878, -97.83280338]}},
  {'type': 'Feature',
   'properties': {'County': 'San Augustine', 'Cases': 16, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.39427005, -94.16809762]}},
  {'type': 'Feature',
   'properties': {'County': 'Anderson', 'Cases': 16, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.81321543, -95.65251774]}},
  {'type': 'Feature',
   'properties': {'County': 'Fayette', 'Cases': 15, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [29.87683207, -96.91968047]}},
  {'type': 'Feature',
   'properties': {'County': 'Titus', 'Cases': 15, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.2160906, -94.96509786]}},
  {'type': 'Feature',
   'properties': {'County': 'Kendall', 'Cases': 15, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.9446397, -98.71160511]}},
  {'type': 'Feature',
   'properties': {'County': 'Hill', 'Cases': 15, 'Fatalities': 1},
   'geometry': {'type': 'Point',
    'coordinates': [31.99079033, -97.13241420000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Maverick', 'Cases': 14, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.74260943, -100.3144638]}},
  {'type': 'Feature',
   'properties': {'County': 'Burnet', 'Cases': 14, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.78843382, -98.18252382]}},
  {'type': 'Feature',
   'properties': {'County': 'Atascosa', 'Cases': 14, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [28.89418432, -98.52741302]}},
  {'type': 'Feature',
   'properties': {'County': 'Wise', 'Cases': 14, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [33.21585061, -97.65444124]}},
  {'type': 'Feature',
   'properties': {'County': 'Van Zandt', 'Cases': 13, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.56368961, -95.8364862]}},
  {'type': 'Feature',
   'properties': {'County': 'Milam', 'Cases': 13, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.78625299, -96.97683495]}},
  {'type': 'Feature',
   'properties': {'County': 'Upshur', 'Cases': 13, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.7362827, -94.94132011]}},
  {'type': 'Feature',
   'properties': {'County': 'Fannin', 'Cases': 13, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.59396919, -96.10656755]}},
  {'type': 'Feature',
   'properties': {'County': 'Castro', 'Cases': 13, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [34.53000304, -102.2617608]}},
  {'type': 'Feature',
   'properties': {'County': 'Grimes', 'Cases': 13, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.54360689, -95.98557334]}},
  {'type': 'Feature',
   'properties': {'County': 'Austin', 'Cases': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.88711223, -96.27791829]}},
  {'type': 'Feature',
   'properties': {'County': 'Cherokee', 'Cases': 12, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.83695632, -95.16515234]}},
  {'type': 'Feature',
   'properties': {'County': 'Val Verde', 'Cases': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.89300587, -101.15171]}},
  {'type': 'Feature',
   'properties': {'County': 'Erath', 'Cases': 12, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.23640361, -98.21722756]}},
  {'type': 'Feature',
   'properties': {'County': 'Cass', 'Cases': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.07750446, -94.34348771]}},
  {'type': 'Feature',
   'properties': {'County': 'Limestone', 'Cases': 11, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.54541898, -96.58056718]}},
  {'type': 'Feature',
   'properties': {'County': 'San Patricio', 'Cases': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.00922186, -97.51859857]}},
  {'type': 'Feature',
   'properties': {'County': 'Burleson', 'Cases': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.49246139, -96.62109399]}},
  {'type': 'Feature',
   'properties': {'County': 'Sherman', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [36.27765824, -101.8933822]}},
  {'type': 'Feature',
   'properties': {'County': 'Terry', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17373729, -102.335157]}},
  {'type': 'Feature',
   'properties': {'County': 'Caldwell', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [29.83677935, -97.61983479000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Colorado', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.6208542, -96.52630821]}},
  {'type': 'Feature',
   'properties': {'County': 'Jasper', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.74391255, -94.02495849]}},
  {'type': 'Feature',
   'properties': {'County': 'Hutchinson', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [35.84000866, -101.3547257]}},
  {'type': 'Feature',
   'properties': {'County': 'Willacy', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [26.47132899, -97.64303323]}},
  {'type': 'Feature',
   'properties': {'County': 'Lamar', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.66746186, -95.57110784]}},
  {'type': 'Feature',
   'properties': {'County': 'Trinity', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.0885069, -95.13551682]}},
  {'type': 'Feature',
   'properties': {'County': 'San Jacinto', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.57948905, -95.16683273]}},
  {'type': 'Feature',
   'properties': {'County': 'Palo Pinto', 'Cases': 7, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.75316856, -98.31299522]}},
  {'type': 'Feature',
   'properties': {'County': 'Jones', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.73970429, -99.87850599]}},
  {'type': 'Feature',
   'properties': {'County': 'Starr', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [26.56212627, -98.73834895]}},
  {'type': 'Feature',
   'properties': {'County': 'Swisher', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.53064989, -101.734951]}},
  {'type': 'Feature',
   'properties': {'County': 'Kleberg', 'Cases': 7, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [27.43274395, -97.72889778]}},
  {'type': 'Feature',
   'properties': {'County': 'Zapata', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [27.00089072, -99.16860134]}},
  {'type': 'Feature',

In [38]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)

In [39]:
browser.visit(url4)

In [40]:
headlines_harris = browser.html
headline_soup = bs(headlines_harris, 'html.parser')

In [41]:
# lis = headline_soup.find_all('li', class_="headline-list-with-abstract__item")
links = headline_soup.find_all('div', class_="headline-list-with-abstract__headline")

titles = []
hrefs = []

In [42]:
recent = headline_soup.find_all('div', class_="story-snapshot-with-abstract__headline")[0]

IndexError: list index out of range

In [ ]:
recent

In [ ]:
recent_title = recent.find('div', class_="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180").text.strip()
recent_title

In [ ]:
titles.append(recent_title)
hrefs.append('https://www.khou.com' + recent.a['href'])

In [ ]:
links

In [ ]:

for article in links:
    
    try:
        
        title = article.find('a', class_="headline-list-with-abstract__link").text
        
        link = article.a['href']
        
        if (title and link):
            
            
            print('-------------')
            print(title)
            print(link)
            titles.append(title.strip())
            hrefs.append('https://www.khou.com' + link)
            
    except:
        print('no')

In [ ]:
latest_headlines_df = pd.DataFrame(list(zip(titles, hrefs)), columns =['Headline', 'link'])

In [ ]:
latest_headlines_df

In [ ]:
latest_headlines_df.to_csv('static/csv/headlines.csv', index=False, header=True)

In [ ]:
browser.quit()