In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json
import os
import shutil

In [2]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [3]:
# URL to find information on Coronavirus
url1 = "https://txdshs.maps.arcgis.com/apps/opsdashboard/index.html#/ed483ecd702b4298ab01e8b9cafc8b83"

url2 = "https://dshs.texas.gov/coronavirus/"

url3 = "http://publichealth.harriscountytx.gov/Resources/2019-Novel-Coronavirus/Harris-County-COVID-19-Confirmed-Cases"

url4 = "https://www.khou.com/section/news/health/coronavirus"

In [4]:
# Visiting the url 
browser.visit(url1)

In [5]:
time.sleep(7)# Creating the Beautiful soup for URL
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# Revise? 
reported_cases = soup.find_all('text')[9].text
reported_cases

'8,262'

In [7]:
deaths = soup.find_all('text')[11].text
deaths

'154'

In [8]:
df_stats = pd.DataFrame({'Cases':[reported_cases], 'Deaths':[deaths]})
df_stats.to_csv('static/csv/stats.csv', index=False)

In [9]:
# Getting Total Cases and Deaths 
browser.visit(url2)

In [10]:
browser.find_by_text('Accessible version').click()
time.sleep(5)

In [11]:
source = 'C:/Users/zacha/Downloads/'
destination = 'C:/Users/zacha/Documents/COVID-19/'
filename = 'CaseCountData.xlsx'

In [12]:
shutil.move(os.path.join(source, filename), os.path.join(destination, filename))

'C:/Users/zacha/Documents/COVID-19/CaseCountData.xlsx'

In [13]:
# dest = shutil.move(source, destination, )

In [14]:
df = pd.read_excel('CaseCountData.xlsx', header=1).dropna()
df.sort_values(by=['Cases'], ascending=False, inplace=True)
df['County'] = df.apply(lambda x: x['County'].rstrip(), axis=1)
df.to_csv('static/csv/CaseCountData.csv', index=False, header=True)

df

       No.    County  Cases  Fatalities
64    65.0    Harris   1809          22
34    35.0    Dallas   1155          18
140  141.0    Travis    502           6
8      9.0     Bexar    456          12
135  136.0   Tarrant    452          13
..     ...       ...    ...         ...
108  109.0  Montague      1           0
111  112.0    Morris      1           0
114  115.0    Newton      1           0
121  122.0     Pecos      1           0
160  161.0    Zapata      1           0

[161 rows x 4 columns]

In [15]:
df

       No.    County  Cases  Fatalities
64    65.0    Harris   1809          22
34    35.0    Dallas   1155          18
140  141.0    Travis    502           6
8      9.0     Bexar    456          12
135  136.0   Tarrant    452          13
..     ...       ...    ...         ...
108  109.0  Montague      1           0
111  112.0    Morris      1           0
114  115.0    Newton      1           0
121  122.0     Pecos      1           0
160  161.0    Zapata      1           0

[161 rows x 4 columns]

In [16]:
browser.visit(url3)

In [17]:
harris_table = browser.find_by_id('covidtable')

In [18]:
html_harris = browser.html
harris_soup = bs(html_harris, 'html.parser')

In [19]:
harris_data = []
table = harris_soup.find('table', attrs={'id':'covidtable'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    harris_data.append([ele for ele in cols if ele]) # Get rid of empty values

In [20]:
columns = ['Patient', 'Sex', 'Age_Range', 'Location','Exposure', 'Status']

In [21]:
harris_data = harris_data[1:]

In [22]:
harris_df = pd.DataFrame(harris_data, columns=columns)

In [23]:
harris_df.sort_values(by=['Age_Range'], inplace=True)

In [24]:
harris_df

    Patient     Sex Age_Range Location                   Exposure    Status
43       44    Male     0 - 9       NW  Possible Exposure to Case    Active
45       46  Female     0 - 9       NW  Possible Exposure to Case    Active
172     173  Female     0 - 9       NW  Possible Exposure to Case    Active
185     186  Female     0 - 9       SE  Possible Exposure to Case    Active
147     148    Male   10 - 19       SE  Possible Exposure to Case    Active
..      ...     ...       ...      ...                        ...       ...
154     155  Female       80+       SE      Investigation Pending    Active
246     247  Female       80+       SW      Investigation Pending    Active
15       16    Male       80+       NW          No Known Exposure  Deceased
158     159  Female       80+       NW          History of Travel    Active
193     194  Female       80+       SE          No Known Exposure    Active

[254 rows x 6 columns]

In [25]:
harris_df.to_csv('static/csv/harris_stats.csv', index=False, header=True)

In [26]:
harris_df.head()

    Patient     Sex Age_Range Location                   Exposure  Status
43       44    Male     0 - 9       NW  Possible Exposure to Case  Active
45       46  Female     0 - 9       NW  Possible Exposure to Case  Active
172     173  Female     0 - 9       NW  Possible Exposure to Case  Active
185     186  Female     0 - 9       SE  Possible Exposure to Case  Active
147     148    Male   10 - 19       SE  Possible Exposure to Case  Active

In [27]:
All_Tex_Counties_df = pd.read_csv('static/csv/Texas_Counties.csv')
All_Tex_Counties_df.head()

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,-97.492799,29.456415,Gonzales,90,48177,2.124911,0.257805,"(-97.492799, 29.456415)"
1,-98.697292,27.043405,Jim Hogg,125,48247,2.271751,0.267624,"(-98.697292, 27.043405)"
2,-97.681378,26.924094,Kenedy,66,48261,5.067864,0.389397,"(-97.681378, 26.924094)"
3,-96.965687,30.310651,Lee,144,48287,2.213853,0.153990,"(-96.965687, 30.310651)"
4,-95.853568,32.211881,Henderson,108,48213,3.152909,0.235056,"(-95.853568, 32.211881)"

In [28]:
All_Tex_Counties = All_Tex_Counties_df['CNTY_NM'].tolist()

In [29]:
df_counties = df['County'].tolist()

In [30]:
Counties_with_Cases = []

for i in df_counties:
    
    if i.rstrip() in All_Tex_Counties:
        Counties_with_Cases.append(i.rstrip())
        print(f'{i}---found')
        
    elif i == 'DeWitt':
        Counties_with_Cases.append('De Witt')
        print(f'{i}---found')
    else:
        print(f'Houston we have a problem: {i}')

Harris---found
Dallas---found
Travis---found
Bexar---found
Tarrant---found
Denton---found
Fort Bend---found
Collin---found
Galveston---found
Lubbock---found
Brazoria---found
Montgomery---found
El Paso---found
Webb---found
Hidalgo---found
Cameron---found
Brazos---found
Williamson---found
Jefferson---found
Bell---found
Smith---found
Nueces---found
Hays---found
McLennan---found
Victoria---found
Wichita---found
Potter---found
Guadalupe---found
Matagorda---found
Randall---found
Ellis---found
Taylor---found
Ector---found
Hardin---found
Midland---found
Orange---found
Tom Green---found
Johnson---found
Comal---found
Washington---found
Nacogdoches---found
Gregg---found
Bowie---found
Chambers---found
Wharton---found
Bastrop---found
Angelina---found
Grayson---found
Kaufman---found
Shelby---found
Calhoun---found
Liberty---found
Rusk---found
Waller---found
Harrison---found
Rockwall---found
Coryell---found
Castro---found
Walker---found
Andrews---found
Hood---found
Hockley---found
Gray---found
Kendall---found
Fayette---found
Polk---found
Erath---found
Donley---found
Moore---found
DeWitt---found
Starr---found
Deaf Smith---found
Hale---found
Wilson---found
Parker---found
Limestone---found
Medina---found
Cherokee---found
Brown---found
Lamar---found
Austin---found
Val Verde---found
Willacy---found
Burleson---found
Burnet---found
Dawson---found
Caldwell---found
Hill---found
Maverick---found
Uvalde---found
Van Zandt---found
Upshur---found
Navarro---found
Blanco---found
Cass---found
Grimes---found
Panola---found
Terry---found
Atascosa---found
Wood---found
Jackson---found
San Augustine---found
Hopkins---found
Young---found
Oldham---found
Eastland---found
Goliad---found
Comanche---found
Milam---found
Wise---found
Colorado---found
Live Oak---found
Llano---found
Lynn---found
Karnes---found
Camp---found
Lee---found
Leon---found
San Patricio---found
Hutchinson---found
Robertson---found
Jasper---found
Martin---found
Trinity---found
Jim Wells---found
Palo Pinto---found
Fannin---found
Kleberg---found
Kerr---found
Titus---found
Crane---found
Lavaca---found
Lampasas---found
Tyler---found
Anderson---found
Swisher---found
San Jacinto---found
Aransas---found
Callahan---found
Clay---found
Crosby---found
Dallam---found
Falls---found
Franklin---found
Gaines---found
Gillespie---found
Gonzales---found
Hamilton---found
Hansford---found
Hemphill---found
Henderson---found
Hunt---found
Knox---found
Lamb---found
Mason---found
Mitchell---found
Montague---found
Morris---found
Newton---found
Pecos---found
Zapata---found

In [31]:
All_Tex_Counties_df = All_Tex_Counties_df.set_index('CNTY_NM')

In [32]:
Geo_df = All_Tex_Counties_df.loc[Counties_with_Cases]
Geo_df.head()

,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
CNTY_NM,,,,,,,
Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"

In [33]:
Geo_df = Geo_df.reset_index()
Geo_df = Geo_df.rename(columns={"CNTY_NM": "County"})
Geo_df

,County,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
4,Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
...,...,...,...,...,...,...,...,...
156,Montague,-97.724670,33.674963,169,48337,2.090266,0.235633,"(-97.72467, 33.674963)"
157,Morris,-94.732051,33.113685,172,48343,1.538698,0.064495,"(-94.732051, 33.113685)"
158,Newton,-93.744630,30.786200,176,48351,3.669102,0.229430,"(-93.74463, 30.7862)"
159,Pecos,-102.723574,30.781000,186,48371,6.107163,1.162561,"(-102.723574, 30.781)"
160,Zapata,-99.168601,27.000891,253,48505,2.246982,0.249215,"(-99.168601, 27.000891)"

In [34]:
result = pd.merge(df, Geo_df, on='County')
result = result.rename(columns={'X (Lat)':'long', 'Y (Long)':'lat'})

result.head()

,No.,County,Cases,Fatalities,long,lat,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,65.0,Harris,1809,22,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,35.0,Dallas,1155,18,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,141.0,Travis,502,6,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,9.0,Bexar,456,12,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
4,136.0,Tarrant,452,13,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"

In [35]:
result = result[['County', 'Cases', 'Fatalities', 'lat', 'long']]
result

       County  Cases  Fatalities        lat        long
0      Harris   1809          22  29.859671  -95.397821
1      Dallas   1155          18  32.766537  -96.777819
2      Travis    502           6  30.334233  -97.781947
3       Bexar    456          12  29.448845  -98.519663
4     Tarrant    452          13  32.771852  -97.291165
..        ...    ...         ...        ...         ...
155  Montague      1           0  33.674963  -97.724670
156    Morris      1           0  33.113685  -94.732051
157    Newton      1           0  30.786200  -93.744630
158     Pecos      1           0  30.781000 -102.723574
159    Zapata      1           0  27.000891  -99.168601

[160 rows x 5 columns]

In [36]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lat],row[lon]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['County', 'Cases', 'Fatalities']
javascript_file = df_to_geojson(result, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [37]:
javascript_file

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'County': 'Harris', 'Cases': 1809, 'Fatalities': 22},
   'geometry': {'type': 'Point', 'coordinates': [29.85967144, -95.39782106]}},
  {'type': 'Feature',
   'properties': {'County': 'Dallas', 'Cases': 1155, 'Fatalities': 18},
   'geometry': {'type': 'Point', 'coordinates': [32.76653746, -96.77781862]}},
  {'type': 'Feature',
   'properties': {'County': 'Travis', 'Cases': 502, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [30.33423319, -97.78194654]}},
  {'type': 'Feature',
   'properties': {'County': 'Bexar', 'Cases': 456, 'Fatalities': 12},
   'geometry': {'type': 'Point', 'coordinates': [29.44884523, -98.51966309]}},
  {'type': 'Feature',
   'properties': {'County': 'Tarrant', 'Cases': 452, 'Fatalities': 13},
   'geometry': {'type': 'Point', 'coordinates': [32.77185236, -97.29116473]}},
  {'type': 'Feature',
   'properties': {'County': 'Denton', 'Cases': 337, 'Fatalities': 7},
   'geometry': {'type': 'Point', 'coordinates': [33.205574, -97.11681154]}},
  {'type': 'Feature',
   'properties': {'County': 'Fort Bend', 'Cases': 318, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [29.52763253, -95.77090562]}},
  {'type': 'Feature',
   'properties': {'County': 'Collin', 'Cases': 306, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [33.18789055, -96.57248871]}},
  {'type': 'Feature',
   'properties': {'County': 'Galveston', 'Cases': 256, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [29.39424415, -94.96474975]}},
  {'type': 'Feature',
   'properties': {'County': 'Lubbock', 'Cases': 180, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [33.6101944, -101.8205745]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazoria', 'Cases': 167, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [29.19345387, -95.45578479]}},
  {'type': 'Feature',
   'properties': {'County': 'Montgomery', 'Cases': 161, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [30.30022409, -95.50301411]}},
  {'type': 'Feature',
   'properties': {'County': 'El Paso', 'Cases': 125, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [31.768622600000004, -106.23522290000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Webb', 'Cases': 122, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [27.76102524, -99.33170164]}},
  {'type': 'Feature',
   'properties': {'County': 'Hidalgo', 'Cases': 113, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [26.396627, -98.18088681]}},
  {'type': 'Feature',
   'properties': {'County': 'Cameron', 'Cases': 101, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [26.13847728, -97.51499968]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazos', 'Cases': 94, 'Fatalities': 7},
   'geometry': {'type': 'Point', 'coordinates': [30.6610425, -96.3022943]}},
  {'type': 'Feature',
   'properties': {'County': 'Williamson', 'Cases': 81, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [30.64834941, -97.60105467]}},
  {'type': 'Feature',
   'properties': {'County': 'Jefferson', 'Cases': 78, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [29.88425832, -94.1708778]}},
  {'type': 'Feature',
   'properties': {'County': 'Bell', 'Cases': 68, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [31.03778267, -97.47790776]}},
  {'type': 'Feature',
   'properties': {'County': 'Smith', 'Cases': 63, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.37514553, -95.26909511]}},
  {'type': 'Feature',
   'properties': {'County': 'Nueces', 'Cases': 59, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [27.72621549, -97.61767326]}},
  {'type': 'Feature',
   'properties': {'County': 'Hays', 'Cases': 59, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.05782657, -98.03104087]}},
  {'type': 'Feature',
   'properties': {'County': 'McLennan', 'Cases': 56, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.55234489, -97.20184883]}},
  {'type': 'Feature',
   'properties': {'County': 'Victoria', 'Cases': 50, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.79640594, -96.97176602]}},
  {'type': 'Feature',
   'properties': {'County': 'Wichita', 'Cases': 48, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.98421585, -98.70153389]}},
  {'type': 'Feature',
   'properties': {'County': 'Potter', 'Cases': 41, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [35.40128927, -101.8940484]}},
  {'type': 'Feature',
   'properties': {'County': 'Guadalupe', 'Cases': 39, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.58257236, -97.94850308]}},
  {'type': 'Feature',
   'properties': {'County': 'Matagorda', 'Cases': 37, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [28.86711039, -95.98533866]}},
  {'type': 'Feature',
   'properties': {'County': 'Randall', 'Cases': 36, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [34.96594288, -101.8968527]}},
  {'type': 'Feature',
   'properties': {'County': 'Ellis', 'Cases': 35, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [32.34839264, -96.79467417]}},
  {'type': 'Feature',
   'properties': {'County': 'Taylor', 'Cases': 31, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.30138229, -99.89003941]}},
  {'type': 'Feature',
   'properties': {'County': 'Ector', 'Cases': 30, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.86908156, -102.5430907]}},
  {'type': 'Feature',
   'properties': {'County': 'Hardin', 'Cases': 28, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.33238431, -94.39021394]}},
  {'type': 'Feature',
   'properties': {'County': 'Midland', 'Cases': 27, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.86921148, -102.0315032]}},
  {'type': 'Feature',
   'properties': {'County': 'Orange', 'Cases': 26, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.12807126, -93.89653794]}},
  {'type': 'Feature',
   'properties': {'County': 'Tom Green', 'Cases': 24, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [31.404444199999997, -100.4620678]}},
  {'type': 'Feature',
   'properties': {'County': 'Johnson', 'Cases': 24, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.37899918, -97.36660504]}},
  {'type': 'Feature',
   'properties': {'County': 'Comal', 'Cases': 22, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [29.80816362, -98.27814516]}},
  {'type': 'Feature',
   'properties': {'County': 'Washington', 'Cases': 21, 'Fatalities': 1},
   'geometry': {'type': 'Point',
    'coordinates': [30.2145299, -96.40356575000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Nacogdoches', 'Cases': 21, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [31.61604108, -94.6158776]}},
  {'type': 'Feature',
   'properties': {'County': 'Gregg', 'Cases': 20, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.48036452, -94.81723694]}},
  {'type': 'Feature',
   'properties': {'County': 'Bowie', 'Cases': 17, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.44572786, -94.42324298]}},
  {'type': 'Feature',
   'properties': {'County': 'Chambers', 'Cases': 17, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.73912276, -94.60891308]}},
  {'type': 'Feature',
   'properties': {'County': 'Wharton', 'Cases': 17, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.2778362, -96.22197375]}},
  {'type': 'Feature',
   'properties': {'County': 'Bastrop', 'Cases': 15, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.10353518, -97.31187705]}},
  {'type': 'Feature',
   'properties': {'County': 'Angelina', 'Cases': 14, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.25475875, -94.611742]}},
  {'type': 'Feature',
   'properties': {'County': 'Grayson', 'Cases': 14, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.62684371, -96.67764864]}},
  {'type': 'Feature',
   'properties': {'County': 'Kaufman', 'Cases': 14, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.59927808, -96.28779341]}},
  {'type': 'Feature',
   'properties': {'County': 'Shelby', 'Cases': 13, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.79242191, -94.14495261]}},
  {'type': 'Feature',
   'properties': {'County': 'Calhoun', 'Cases': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.48966896, -96.64708119]}},
  {'type': 'Feature',
   'properties': {'County': 'Liberty', 'Cases': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.15153187, -94.8120925]}},
  {'type': 'Feature',
   'properties': {'County': 'Rusk', 'Cases': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.10803224, -94.76169577]}},
  {'type': 'Feature',
   'properties': {'County': 'Waller', 'Cases': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.01093722, -95.98768942]}},
  {'type': 'Feature',
   'properties': {'County': 'Harrison', 'Cases': 11, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.54814898, -94.37155736]}},
  {'type': 'Feature',
   'properties': {'County': 'Rockwall', 'Cases': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.89786769, -96.40780584]}},
  {'type': 'Feature',
   'properties': {'County': 'Coryell', 'Cases': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.39087578, -97.7991883]}},
  {'type': 'Feature',
   'properties': {'County': 'Castro', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [34.53000304, -102.2617608]}},
  {'type': 'Feature',
   'properties': {'County': 'Walker', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.73899492, -95.57224172]}},
  {'type': 'Feature',
   'properties': {'County': 'Andrews', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.30506283, -102.6378839]}},
  {'type': 'Feature',
   'properties': {'County': 'Hood', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.43107878, -97.83280338]}},
  {'type': 'Feature',
   'properties': {'County': 'Hockley', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.60750375, -102.3430919]}},
  {'type': 'Feature',
   'properties': {'County': 'Gray', 'Cases': 9, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [35.40130666000001, -100.812475]}},
  {'type': 'Feature',
   'properties': {'County': 'Kendall', 'Cases': 9, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.9446397, -98.71160511]}},
  {'type': 'Feature',
   'properties': {'County': 'Fayette', 'Cases': 9, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.87683207, -96.91968047]}},
  {'type': 'Feature',
   'properties': {'County': 'Polk', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.79250963, -94.82994949]}},
  {'type': 'Feature',
   'properties': {'County': 'Erath', 'Cases': 8, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.23640361, -98.21722756]}},
  {'type': 'Feature',
   'properties': {'County': 'Donley', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [34.96540246, -100.81405009999999]}},
  {'type': 'Feature',
   'properties': {'County': 'Moore', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [35.83768863, -101.8929556]}},
  {'type': 'Feature',
   'properties': {'County': 'Starr', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [26.56212627, -98.73834895]}},
  {'type': 'Feature',
   'properties': {'County': 'Deaf Smith', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.96602014, -102.6048162]}},
  {'type': 'Feature',
   'properties': {'County': 'Hale', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.07051782, -101.8269082]}},
  {'type': 'Feature',
   'properties': {'County': 'Wilson', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [29.17315896, -98.08621015000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Parker', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.77852261, -97.80472194]}},
  {'type': 'Feature',
   'properties': {'County': 'Limestone', 'Cases': 6, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.54541898, -96.58056718]}},
  {'type': 'Feature',
   'properties': {'County': 'Medina', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.35520493, -99.11008331]}},
  {'type': 'Feature',
   'properties': {'County': 'Cherokee', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.83695632, -95.16515234]}},
  {'type': 'Feature',
   'properties': {'County': 'Brown', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.77432313, -98.99989649]}},
  {'type': 'Feature',
   'properties': {'County': 'Lamar', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.66746186, -95.57110784]}},
  {'type': 'Feature',
   'properties': {'County': 'Austin', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.88711223, -96.27791829]}},
  {'type': 'Feature',
   'properties': {'County': 'Val Verde', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.89300587, -101.15171]}},
  {'type': 'Feature',
   'properties': {'County': 'Willacy', 'Cases': 5, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [26.47132899, -97.64303323]}},
  {'type': 'Feature',
   'properties': {'County': 'Burleson', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.49246139, -96.62109399]}},
  {'type': 'Feature',
   'properties': {'County': 'Burnet', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.78843382, -98.18252382]}},
  {'type': 'Feature',
   'properties': {'County': 'Dawson', 'Cases': 5, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.74258137, -101.9476136]}},
  {'type': 'Feature',
   'properties': {'County': 'Caldwell', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [29.83677935, -97.61983479000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Hill', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [31.99079033, -97.13241420000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Maverick', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.74260943, -100.3144638]}},
  {'type': 'Feature',
   'properties': {'County': 'Uvalde', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.35669829, -99.76203107]}},
  {'type': 'Feature',
   'properties': {'County': 'Van Zandt', 'Cases': 5, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.56368961, -95.8364862]}},
  {'type': 'Feature',
   'properties': {'County': 'Upshur', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.7362827, -94.94132011]}},
  {'type': 'Feature',
   'properties': {'County': 'Navarro', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.04695429, -96.47248134]}},
  {'type': 'Feature',
   'properties': {'County': 'Blanco', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.26636128, -98.39974086]}},
  {'type': 'Feature',
   'properties': {'County': 'Cass', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.07750446, -94.34348771]}},
  {'type': 'Feature',
   'properties': {'County': 'Grimes', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.54360689, -95.98557334]}},
  {'type': 'Feature',
   'properties': {'County': 'Panola', 'Cases': 4, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.16222886, -94.30552858]}},
  {'type': 'Feature',
   'properties': {'County': 'Terry', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17373729, -102.335157]}},
  {'type': 'Feature',
   'properties': {'County': 'Atascosa', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.89418432, -98.52741302]}},
  {'type': 'Feature',
   'properties': {'County': 'Wood', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.78634374, -95.38206498]}},
  {'type': 'Feature',
   'properties': {'County': 'Jackson', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.95603133, -96.57883268]}},
  {'type': 'Feature',
   'properties': {'County': 'San Augustine', 'Cases': 4, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.39427005, -94.16809762]}},
  {'type': 'Feature',
   'properties': {'County': 'Hopkins', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.14933822, -95.56414173]}},
  {'type': 'Feature',
   'properties': {'County': 'Young', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17670764, -98.68781396]}},
  {'type': 'Feature',
   'properties': {'County': 'Oldham', 'Cases': 3, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [35.40497586, -102.6029949]}},
  {'type': 'Feature',
   'properties': {'County': 'Eastland', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.32739258, -98.8325713]}},
  {'type': 'Feature',
   'properties': {'County': 'Goliad', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.65708563, -97.42646082]}},
  {'type': 'Feature',
   'properties': {'County': 'Comanche', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.9490639, -98.55841538]}},
  {'type': 'Feature',
   'properties': {'County': 'Milam', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.78625299, -96.97683495]}},
  {'type': 'Feature',
   'properties': {'County': 'Wise', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.21585061, -97.65444124]}},
  {'type': 'Feature',
   'properties': {'County': 'Colorado', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.6208542, -96.52630821]}},
  {'type': 'Feature',
   'properties': {'County': 'Live Oak', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.3514375, -98.12474493]}},
  {'type': 'Feature',
   'properties': {'County': 'Llano', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.70566579, -98.68387398]}},
  {'type': 'Feature',
   'properties': {'County': 'Lynn', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17685487, -101.8160235]}},
  {'type': 'Feature',
   'properties': {'County': 'Karnes', 'Cases': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.90493782, -97.85960621]}},
  {'type': 'Feature',
   'properties': {'County': 'Camp', 'Cases': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.97321771, -94.97860185]}},
  {'type': 'Feature',
   'properties': {'County': 'Lee', 'Cases': 2, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.31065065, -96.96568735]}},
  {'type': 'Feature',
   'properties': {'County': 'Leon', 'Cases': 2, 'Fatalities': 0},

In [38]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)

In [39]:
browser.visit(url4)

In [40]:
headlines_harris = browser.html
headline_soup = bs(headlines_harris, 'html.parser')

In [41]:
# lis = headline_soup.find_all('li', class_="headline-list-with-abstract__item")
links = headline_soup.find_all('div', class_="headline-list-with-abstract__headline")

titles = []
hrefs = []

In [42]:
recent = headline_soup.find_all('div', class_="story-snapshot-with-abstract__headline")[0]

In [43]:
recent

<div class="story-snapshot-with-abstract__headline">
<a class="story-snapshot-with-abstract__link" data-tracking="story-snapshot-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/new-data-suggests-staying-home-social-distancing-is-saving-lives/285-880fefea-a7ed-4aad-9d8b-13e8930eeb73">
<div class="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180" style="overflow-wrap: break-word;">
                        New data suggests staying home, social distancing is saving lives
                    </div>
<div class="story-snapshot-with-abstract__mobile-title dot-ellipsis dot-height-135" style="overflow-wrap: break-word;">
                        New data suggests staying home, social distancing is saving lives
                    </div>
</a>
</div>

In [44]:
recent_title = recent.find('div', class_="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180").text.strip()
recent_title

'New data suggests staying home, social distancing is saving lives'

In [45]:
titles.append(recent_title)
hrefs.append('https://www.khou.com' + recent.a['href'])

In [46]:
links

[<div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/schumer-proposes-25000-heroes-pay-for-frontline-workers/285-477230fc-0864-4b9f-937b-038eff6e3412">
                     Schumer proposes $25,000 'heroes' pay for frontline workers
                 </a>
 </div>,
 <div class="headline-list-with-abstract__headline"> <a class="headline-list-with-abstract__link">4 Signs Your Heart Is Quietly Failing You</a> </div>,
 <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/brazos-county-reports-cases-of-coronavirus/285-bb82428a-417e-4287-b7f8-ef6cf60ffa2b">
                     Update: Fourth person dies from COVID-19 in Brazos County, 68 confirmed cases
                 </a>
 </div>,
 <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-updates-houston-live-blog-april-6/285-3fca5511-726f-4157-b3cf-da3a3ee0cfca">
                     Coronavirus updates: Experts estimate more than 4K lives have been saved due to Harris County stay-home order
                 </a>
 </div>,
 <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/coronavirus-recovery-st-louis-county-woman-returns-home/285-377860dc-38a1-4384-a2b1-03ec60b14284">
                     Woman who spent days on a ventilator after COVID-19 diagnosis returns home
                 </a>
 </div>,
 <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/wisconsin-democratic-primary/285-6d08e23e-d868-4b93-9013-c32859821749">
                     Wisconsin voters head to polls Tuesday despite stay-at-home order
                 </a>
 </div>,
 <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/sports/mlbphoenix/285-b7911231-572d-46bc-824c-9347dc33e4fe">
                     AP sources: MLB considering playing all games in empty Arizona ballparks
                 </a>
 </div>]

In [47]:

for article in links:
    
    try:
        
        title = article.find('a', class_="headline-list-with-abstract__link").text
        
        link = article.a['href']
        
        if (title and link):
            
            
            print('-------------')
            print(title)
            print(link)
            titles.append(title.strip())
            hrefs.append('https://www.khou.com' + link)
            
    except:
        print('no')

-------------

                    Schumer proposes $25,000 'heroes' pay for frontline workers

/article/news/health/coronavirus/schumer-proposes-25000-heroes-pay-for-frontline-workers/285-477230fc-0864-4b9f-937b-038eff6e3412
no
-------------

                    Update: Fourth person dies from COVID-19 in Brazos County, 68 confirmed cases

/article/news/brazos-county-reports-cases-of-coronavirus/285-bb82428a-417e-4287-b7f8-ef6cf60ffa2b
-------------

                    Coronavirus updates: Experts estimate more than 4K lives have been saved due to Harris County stay-home order

/article/news/health/coronavirus/coronavirus-updates-houston-live-blog-april-6/285-3fca5511-726f-4157-b3cf-da3a3ee0cfca
-------------

                    Woman who spent days on a ventilator after COVID-19 diagnosis returns home

/article/news/health/coronavirus/coronavirus-recovery-st-louis-county-woman-returns-home/285-377860dc-38a1-4384-a2b1-03ec60b14284
-------------

                    Wisconsin voters head to polls Tuesday despite stay-at-home order

/article/news/health/coronavirus/wisconsin-democratic-primary/285-6d08e23e-d868-4b93-9013-c32859821749
-------------

                    AP sources: MLB considering playing all games in empty Arizona ballparks

/article/sports/mlbphoenix/285-b7911231-572d-46bc-824c-9347dc33e4fe

In [48]:
latest_headlines_df = pd.DataFrame(list(zip(titles, hrefs)), columns =['Headline', 'link'])

In [49]:
latest_headlines_df

,Headline,link
0,"New data suggests staying home, social distanc...",https://www.khou.com/article/news/health/coron...
1,"Schumer proposes $25,000 'heroes' pay for fron...",https://www.khou.com/article/news/health/coron...
2,Update: Fourth person dies from COVID-19 in Br...,https://www.khou.com/article/news/brazos-count...
3,Coronavirus updates: Experts estimate more tha...,https://www.khou.com/article/news/health/coron...
4,Woman who spent days on a ventilator after COV...,https://www.khou.com/article/news/health/coron...
5,Wisconsin voters head to polls Tuesday despite...,https://www.khou.com/article/news/health/coron...
6,AP sources: MLB considering playing all games ...,https://www.khou.com/article/sports/mlbphoenix...

In [50]:
latest_headlines_df.to_csv('static/csv/headlines.csv', index=False, header=True)

In [51]:
browser.quit()