In [7]:
import pandas as pd
import numpy as np
from time import sleep
from splinter import Browser
import time

In [8]:
import os
import shutil

In [9]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [10]:
# Texas Dashboard
url2 = "https://dshs.texas.gov/coronavirus/"

In [11]:
# Telling splinter to visit the url
browser.visit(url2)

In [14]:
browser.find_by_text('Accessible version (Excel)').click()
time.sleep(5)

In [15]:
source = 'C:/Users/zacha/Downloads/CaseCountData.xlsx'

In [16]:
destination = 'C:/Users/zacha/Documents/COVID-19/'

In [17]:
dest = shutil.move(source, destination)

In [27]:
df = pd.read_excel('CaseCountData.xlsx', header=1).dropna()
df.sort_values(by=['Positive'], ascending=False, inplace=True)
df

       No.         County  Positive  Deaths
47    48.0         Harris       445       3
24    25.0         Dallas       439       9
102  103.0         Travis       179       1
27    28.0         Denton       148       2
5      6.0          Bexar       140       5
..     ...            ...       ...     ...
48    49.0       Harrison         1       0
45    46.0           Hale         1       0
92    93.0    San Jacinto         1       0
93    94.0  San Patricio          1       0
117  118.0          Young         1       0

[118 rows x 4 columns]

In [23]:
sum(df['Positive'].tolist())

2552