In [81]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json

In [82]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [83]:
# URL to find information on Coronavirus
url = 'https://www.dshs.state.tx.us/news/updates.shtm#coronavirus'
url2 = "http://www.google.com"

In [84]:
# Visiting the url 
browser.visit(url)

In [85]:
# Creating the beautiful soup to find the tables we need 
html = browser.html
soup = bs(html, 'html.parser')

In [86]:
# All tables on this webpage, this might be revised later
tables = soup.find_all('table')

In [87]:
# Selecting the table with all the Texas Counties
TX_counties = tables[2]
TX_counties = TX_counties.find_all('td')

In [88]:
# Creating lists of the counties and current number of cases per county

counties = []
cases = []

counter = 0 
for county in TX_counties:
    if counter % 2 == 0:
        counties.append(county.text)
        
    elif counter % 2 != 0:
        cases.append(county.text)
        
    counter = counter + 1

In [89]:
# Creating the first data frame. 
df = pd.DataFrame(list(zip(counties, cases)), columns =['Texas_County', 'COVID_19_Cases'])
df

                 Texas_County COVID_19_Cases
0                        Bell              1
1                       Bexar              6
2                       Bowie             1
3                    Brazoria              2
4                      Brazos             1
5                      Collin              7
6                      Dallas             20
7                      Denton              4
8                      DeWitt              1
9                     El Paso              3
10                  Fort Bend              9
11                  Galveston              2
12                      Gregg              1
13                     Harris             10
14                       Hays              3
15                    Johnson              2
16                     Lavaca              1
17                  Matagorda              3
18                   McLennan              6
19                     Medina             1
20                 Montgomery              3
21                       Rusk             1
22                      Smith              5
23                    Tarrant              5
24                     Travis              7
25                       Webb              1
26                 Williamson              2
27  Pending County Assignment             35

In [90]:
# Going to collect lat long information on these Texas Counties. 
counties = df.Texas_County.tolist()
counties.pop()
counties

['Bell',
 'Bexar',
 'Bowie',
 'Brazoria',
 'Brazos',
 'Collin',
 'Dallas',
 'Denton',
 'DeWitt',
 'El Paso',
 'Fort Bend',
 'Galveston',
 'Gregg',
 'Harris',
 'Hays',
 'Johnson',
 'Lavaca',
 'Matagorda',
 'McLennan',
 'Medina',
 'Montgomery',
 'Rusk',
 'Smith',
 'Tarrant',
 'Travis',
 'Webb',
 'Williamson']

In [91]:
# Scrape the Lat Long data

lats = []
longs = []
for county in counties:
    browser.visit(url2)
    
    browser.fill('q', f'{county} county Texas Lattitude Longitude')
    
    time.sleep(2)

    enter = browser.find_by_name('q')
    
    enter.type(Keys.RETURN)
    
    time.sleep(2)
    
    geo_info = browser.find_by_css('.Z0LcW').text
    
    lat = geo_info.split('째')[0]
    long = geo_info.split(',')[1].split('째')[0].strip()
    
    lats.append(float(lat))
    longs.append(-float(long))

In [92]:
Counties_Pending = df.tail(1)

In [93]:
Counties_Pending

                 Texas_County COVID_19_Cases
27  Pending County Assignment             35

In [94]:
df.drop(df.tail(1).index,inplace=True)

In [95]:
# Adding lat and longs to the dataframe
df['lat'] = lats
df['long'] = longs

In [96]:
df

   Texas_County COVID_19_Cases      lat      long
0          Bell              1  31.1344  -97.5247
1         Bexar              6  29.4201  -98.5721
2         Bowie             1   33.4473  -94.4800
3      Brazoria              2  29.2132  -95.4778
4        Brazos             1   30.6504  -96.3226
5        Collin              7  33.1795  -96.4930
6        Dallas             20  32.8025  -96.8351
7        Denton              4  33.1419  -97.1790
8        DeWitt              1  29.1235  -97.3517
9       El Paso              3  31.8040 -106.2051
10    Fort Bend              9  29.5693  -95.8143
11    Galveston              2  29.3763  -94.8521
12        Gregg              1  32.4893  -94.8521
13       Harris             10  29.7752  -95.3103
14         Hays              3  30.0538  -98.0029
15      Johnson              2  32.4134  -97.3517
16       Lavaca              1  29.3359  -96.8351
17    Matagorda              3  28.8205  -95.9833
18     McLennan              6  31.5493  -97.1467
19       Medina             1   29.2988  -99.0129
20   Montgomery              3  30.3213  -95.4778
21         Rusk             1   32.1742  -94.8106
22        Smith              5  32.3353  -95.3103
23      Tarrant              5  32.7732  -97.3517
24       Travis              7  30.2097  -97.6982
25         Webb              1  27.8174  -99.0129
26   Williamson              2  30.7592  -97.6982

In [97]:
browser.quit()

In [98]:

# browser.visit(url2)
# browser.fill('q', f'{counties[0]} county Texas Lattitude Longitude')

# enter = browser.find_by_name('q')

In [99]:
# enter.type(Keys.RETURN)

In [100]:
# Bell_country = browser.find_by_css('.Z0LcW').text
# Bell_country

In [101]:
# lat = Bell_country.split('째')[0]
# long = Bell_country.split(',')[1].split('째')[0].strip()

In [102]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['Texas_County', 'COVID_19_Cases']
javascript_file = df_to_geojson(df, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [103]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)