In [20]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from time import sleep
from datetime import datetime
from splinter import Browser
from selenium.webdriver.common.keys import Keys
import time
import json
import os
import shutil

In [21]:
# Path to chromedriver.exe
executable_path = {'executable_path':'C:/Users/zacha/AppData/Local/bin/chromedriver.exe'}

# Open the Splinter Browswer
browser = Browser('chrome', **executable_path)

In [22]:
# URL to find information on Coronavirus
url1 = "https://txdshs.maps.arcgis.com/apps/opsdashboard/index.html#/ed483ecd702b4298ab01e8b9cafc8b83"

url2 = "https://dshs.texas.gov/coronavirus/"

# url3 = "http://publichealth.harriscountytx.gov/Resources/2019-Novel-Coronavirus/Harris-County-COVID-19-Confirmed-Cases"

url4 = "https://www.khou.com/section/news/health/coronavirus"

In [23]:
# Visiting the url 
browser.visit(url1)

In [24]:
time.sleep(7)# Creating the Beautiful soup for URL
html = browser.html
soup = bs(html, 'html.parser')

In [25]:
# Revise? 
reported_cases = soup.find_all('text')[9].text
reported_cases

'11,671'

In [26]:
deaths = soup.find_all('text')[11].text
deaths

'226'

In [27]:
df_stats = pd.DataFrame({'Cases':[reported_cases], 'Deaths':[deaths]})
df_stats.to_csv('static/csv/stats.csv', index=False)

In [28]:
# Getting Total Cases and Deaths 
browser.visit(url2)

In [29]:
browser.find_by_text('Accessible version').click()
time.sleep(5)

In [30]:
source = 'C:/Users/zacha/Downloads/'
destination = 'C:/Users/zacha/Documents/COVID-19/'
filename = 'CaseCountData.xlsx'

In [31]:
shutil.move(os.path.join(source, filename), os.path.join(destination, filename))

'C:/Users/zacha/Documents/COVID-19/CaseCountData.xlsx'

In [32]:
# dest = shutil.move(source, destination, )

In [33]:
df = pd.read_excel('CaseCountData.xlsx', header=1).dropna()
df.sort_values(by=['Cases'], ascending=False, inplace=True)
df['County'] = df.apply(lambda x: x['County'].rstrip(), axis=1)
df.to_csv('static/csv/CaseCountData.csv', index=False, header=True)

df

       No.     County  Cases  Fatalities
72    73.0     Harris   3047          34
38    39.0     Dallas   1432          22
154  155.0     Travis    642           7
149  150.0    Tarrant    637          20
10    11.0      Bexar    615          22
..     ...        ...    ...         ...
69    70.0   Hamilton      1           0
60    61.0  Gillespie      1           0
58    59.0     Gaines      1           0
57    58.0       Frio      1           0
70    71.0   Hansford      1           0

[176 rows x 4 columns]

In [34]:
df

       No.     County  Cases  Fatalities
72    73.0     Harris   3047          34
38    39.0     Dallas   1432          22
154  155.0     Travis    642           7
149  150.0    Tarrant    637          20
10    11.0      Bexar    615          22
..     ...        ...    ...         ...
69    70.0   Hamilton      1           0
60    61.0  Gillespie      1           0
58    59.0     Gaines      1           0
57    58.0       Frio      1           0
70    71.0   Hansford      1           0

[176 rows x 4 columns]

In [35]:
# browser.visit(url3)

In [36]:
# harris_table = browser.find_by_id('covidtable')

In [37]:
# html_harris = browser.html
# harris_soup = bs(html_harris, 'html.parser')

In [38]:
# harris_data = []
# table = harris_soup.find('table', attrs={'id':'covidtable'})
# table_body = table.find('tbody')

# rows = table_body.find_all('tr')
# for row in rows:
#     cols = row.find_all('td')
#     cols = [ele.text.strip() for ele in cols]
#     harris_data.append([ele for ele in cols if ele])

In [39]:
# columns = ['Patient', 'Sex', 'Age_Range', 'Location','Exposure', 'Status']

In [40]:
# harris_data = harris_data[1:]

In [41]:
# harris_df = pd.DataFrame(harris_data, columns=columns)

In [42]:
# harris_df.sort_values(by=['Age_Range'], inplace=True)

In [43]:
# harris_df.to_csv('static/csv/harris_stats.csv', index=False, header=True)

In [44]:
# harris_df.head()

In [45]:
All_Tex_Counties_df = pd.read_csv('static/csv/Texas_Counties.csv')
All_Tex_Counties_df.head()

,X (Lat),Y (Long),CNTY_NM,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,-97.492799,29.456415,Gonzales,90,48177,2.124911,0.257805,"(-97.492799, 29.456415)"
1,-98.697292,27.043405,Jim Hogg,125,48247,2.271751,0.267624,"(-98.697292, 27.043405)"
2,-97.681378,26.924094,Kenedy,66,48261,5.067864,0.389397,"(-97.681378, 26.924094)"
3,-96.965687,30.310651,Lee,144,48287,2.213853,0.153990,"(-96.965687, 30.310651)"
4,-95.853568,32.211881,Henderson,108,48213,3.152909,0.235056,"(-95.853568, 32.211881)"

In [46]:
All_Tex_Counties = All_Tex_Counties_df['CNTY_NM'].tolist()

In [47]:
df_counties = df['County'].tolist()

In [48]:
Counties_with_Cases = []

for i in df_counties:
    
    if i.rstrip() in All_Tex_Counties:
        Counties_with_Cases.append(i.rstrip())
        print(f'{i}---found')
        
    elif i == 'DeWitt':
        Counties_with_Cases.append('De Witt')
        print(f'{i}---found')
    else:
        print(f'Houston we have a problem: {i}')

Harris---found
Dallas---found
Travis---found
Tarrant---found
Bexar---found
Fort Bend---found
Denton---found
Collin---found
Galveston---found
Lubbock---found
Montgomery---found
El Paso---found
Brazoria---found
Webb---found
Cameron---found
Hidalgo---found
Brazos---found
Williamson---found
Jefferson---found
Smith---found
Bell---found
Hays---found
Victoria---found
Nueces---found
McLennan---found
Potter---found
Ellis---found
Randall---found
Wichita---found
Taylor---found
Guadalupe---found
Hardin---found
Ector---found
Matagorda---found
Gregg---found
Washington---found
Comal---found
Tom Green---found
Shelby---found
Midland---found
Orange---found
Nacogdoches---found
Bowie---found
Johnson---found
Chambers---found
Kaufman---found
Moore---found
Donley---found
Wharton---found
Bastrop---found
Coryell---found
Grayson---found
Rockwall---found
Liberty---found
Angelina---found
Hunt---found
Calhoun---found
Rusk---found
Walker---found
Waller---found
Harrison---found
Hockley---found
Gray---found
Hood---found
Parker---found
Andrews---found
Navarro---found
Medina---found
Erath---found
Van Zandt---found
Kendall---found
Wilson---found
Castro---found
Panola---found
San Augustine---found
Limestone---found
Hale---found
Fayette---found
Lamar---found
Maverick---found
Austin---found
DeWitt---found
Brown---found
Henderson---found
Polk---found
Hill---found
Milam---found
Uvalde---found
Starr---found
San Patricio---found
Deaf Smith---found
Atascosa---found
Burleson---found
Val Verde---found
Burnet---found
Cherokee---found
Upshur---found
Terry---found
Grimes---found
Colorado---found
Titus---found
Caldwell---found
Fannin---found
Willacy---found
Dawson---found
Lynn---found
Wood---found
Cass---found
Jackson---found
Goliad---found
Blanco---found
Lavaca---found
Hopkins---found
Wise---found
Palo Pinto---found
San Jacinto---found
Young---found
Trinity---found
Swisher---found
Morris---found
Oldham---found
Zapata---found
Eastland---found
Comanche---found
Llano---found
Live Oak---found
Leon---found
Lampasas---found
Jasper---found
Camp---found
Anderson---found
Robertson---found
Gonzales---found
Crane---found
Hutchinson---found
Jim Wells---found
Jones---found
Karnes---found
Kerr---found
McCulloch---found
Lee---found
Martin---found
Aransas---found
Kleberg---found
Floyd---found
Crosby---found
Dickens---found
Delta---found
Dallam---found
Cooke---found
Bandera---found
Concho---found
Clay---found
Bee---found
Winkler---found
Callahan---found
Falls---found
Montague---found
Tyler---found
Franklin---found
Mason---found
Newton---found
Pecos---found
Lamb---found
Knox---found
Rains---found
Jack---found
Howard---found
Stephens---found
Hemphill---found
Mitchell---found
Hamilton---found
Gillespie---found
Gaines---found
Frio---found
Hansford---found

In [49]:
All_Tex_Counties_df = All_Tex_Counties_df.set_index('CNTY_NM')

In [50]:
Geo_df = All_Tex_Counties_df.loc[Counties_with_Cases]
Geo_df.head()

,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
CNTY_NM,,,,,,,
Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [51]:
Geo_df = Geo_df.reset_index()
Geo_df = Geo_df.rename(columns={"CNTY_NM": "County"})
Geo_df

,County,X (Lat),Y (Long),CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,Harris,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,Dallas,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,Travis,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,Tarrant,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
4,Bexar,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"
...,...,...,...,...,...,...,...,...
171,Hamilton,-98.110667,31.704792,98,48193,1.980431,0.206040,"(-98.110667, 31.704792)"
172,Gillespie,-98.946272,30.318002,87,48171,2.150997,0.257844,"(-98.946272, 30.318002)"
173,Gaines,-102.635125,32.740745,84,48165,2.590419,0.374515,"(-102.635125, 32.740745)"
174,Frio,-99.108260,28.867268,83,48163,2.113711,0.271134,"(-99.10826, 28.867268)"
175,Hansford,-101.354562,36.277532,99,48195,1.965539,0.239189,"(-101.354562, 36.277532)"

In [52]:
result = pd.merge(df, Geo_df, on='County')
result = result.rename(columns={'X (Lat)':'long', 'Y (Long)':'lat'})

result.head()

,No.,County,Cases,Fatalities,long,lat,CNTY_NBR,FIPS,Shape_Leng,Shape_Area,County Location
0,73.0,Harris,3047,34,-95.397821,29.859671,102,48201,7.731110,0.422798,"(-95.397821, 29.859671)"
1,39.0,Dallas,1432,22,-96.777819,32.766537,57,48113,1.907782,0.226421,"(-96.777819, 32.766537)"
2,155.0,Travis,642,7,-97.781947,30.334233,227,48453,2.458272,0.248996,"(-97.781947, 30.334233)"
3,150.0,Tarrant,637,20,-97.291165,32.771852,220,48439,1.905740,0.225294,"(-97.291165, 32.771852)"
4,11.0,Bexar,615,22,-98.519663,29.448845,15,48029,2.729791,0.302846,"(-98.519663, 29.448845)"

In [53]:
result = result[['County', 'Cases', 'Fatalities', 'lat', 'long']]
result

        County  Cases  Fatalities        lat        long
0       Harris   3047          34  29.859671  -95.397821
1       Dallas   1432          22  32.766537  -96.777819
2       Travis    642           7  30.334233  -97.781947
3      Tarrant    637          20  32.771852  -97.291165
4        Bexar    615          22  29.448845  -98.519663
..         ...    ...         ...        ...         ...
170   Hamilton      1           0  31.704792  -98.110667
171  Gillespie      1           0  30.318002  -98.946272
172     Gaines      1           0  32.740745 -102.635125
173       Frio      1           0  28.867268  -99.108260
174   Hansford      1           0  36.277532 -101.354562

[175 rows x 5 columns]

In [54]:
def df_to_geojson(df, properties, lat='lat', lon='long'):
    prefix = 'var' + ' data' + ' = '
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point','coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lat],row[lon]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['County', 'Cases', 'Fatalities']
javascript_file = df_to_geojson(result, cols)
# {'type': 'FeatureCollection', 'features': [{'geometry': {'type': 'Point', 'coordinates': [-70.5867, -29.9953, 760]}, 'type': 'Feature', 'properties': {'name': 'A', 'description': 'Place a'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.4933, -30.1217, 1250]}, 'type': 'Feature', 'properties': {'name': 'B', 'description': 'Place b'}}, {'geometry': {'type': 'Point', 'coordinates': [-70.5008, -30.0953, 1185]}, 'type': 'Feature', 'properties': {'name': 'C', 'description': 'Place c'}}]}

In [55]:
javascript_file

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'County': 'Harris', 'Cases': 3047, 'Fatalities': 34},
   'geometry': {'type': 'Point', 'coordinates': [29.85967144, -95.39782106]}},
  {'type': 'Feature',
   'properties': {'County': 'Dallas', 'Cases': 1432, 'Fatalities': 22},
   'geometry': {'type': 'Point', 'coordinates': [32.76653746, -96.77781862]}},
  {'type': 'Feature',
   'properties': {'County': 'Travis', 'Cases': 642, 'Fatalities': 7},
   'geometry': {'type': 'Point', 'coordinates': [30.33423319, -97.78194654]}},
  {'type': 'Feature',
   'properties': {'County': 'Tarrant', 'Cases': 637, 'Fatalities': 20},
   'geometry': {'type': 'Point', 'coordinates': [32.77185236, -97.29116473]}},
  {'type': 'Feature',
   'properties': {'County': 'Bexar', 'Cases': 615, 'Fatalities': 22},
   'geometry': {'type': 'Point', 'coordinates': [29.44884523, -98.51966309]}},
  {'type': 'Feature',
   'properties': {'County': 'Fort Bend', 'Cases': 485, 'Fatalities': 10},
   'geometry': {'type': 'Point', 'coordinates': [29.52763253, -95.77090562]}},
  {'type': 'Feature',
   'properties': {'County': 'Denton', 'Cases': 426, 'Fatalities': 9},
   'geometry': {'type': 'Point', 'coordinates': [33.205574, -97.11681154]}},
  {'type': 'Feature',
   'properties': {'County': 'Collin', 'Cases': 406, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [33.18789055, -96.57248871]}},
  {'type': 'Feature',
   'properties': {'County': 'Galveston', 'Cases': 308, 'Fatalities': 7},
   'geometry': {'type': 'Point', 'coordinates': [29.39424415, -94.96474975]}},
  {'type': 'Feature',
   'properties': {'County': 'Lubbock', 'Cases': 234, 'Fatalities': 9},
   'geometry': {'type': 'Point', 'coordinates': [33.6101944, -101.8205745]}},
  {'type': 'Feature',
   'properties': {'County': 'Montgomery', 'Cases': 231, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [30.30022409, -95.50301411]}},
  {'type': 'Feature',
   'properties': {'County': 'El Paso', 'Cases': 225, 'Fatalities': 1},
   'geometry': {'type': 'Point',
    'coordinates': [31.768622600000004, -106.23522290000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazoria', 'Cases': 199, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [29.19345387, -95.45578479]}},
  {'type': 'Feature',
   'properties': {'County': 'Webb', 'Cases': 166, 'Fatalities': 6},
   'geometry': {'type': 'Point', 'coordinates': [27.76102524, -99.33170164]}},
  {'type': 'Feature',
   'properties': {'County': 'Cameron', 'Cases': 147, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [26.13847728, -97.51499968]}},
  {'type': 'Feature',
   'properties': {'County': 'Hidalgo', 'Cases': 146, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [26.396627, -98.18088681]}},
  {'type': 'Feature',
   'properties': {'County': 'Brazos', 'Cases': 114, 'Fatalities': 9},
   'geometry': {'type': 'Point', 'coordinates': [30.6610425, -96.3022943]}},
  {'type': 'Feature',
   'properties': {'County': 'Williamson', 'Cases': 103, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [30.64834941, -97.60105467]}},
  {'type': 'Feature',
   'properties': {'County': 'Jefferson', 'Cases': 94, 'Fatalities': 5},
   'geometry': {'type': 'Point', 'coordinates': [29.88425832, -94.1708778]}},
  {'type': 'Feature',
   'properties': {'County': 'Smith', 'Cases': 88, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.37514553, -95.26909511]}},
  {'type': 'Feature',
   'properties': {'County': 'Bell', 'Cases': 84, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [31.03778267, -97.47790776]}},
  {'type': 'Feature',
   'properties': {'County': 'Hays', 'Cases': 79, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.05782657, -98.03104087]}},
  {'type': 'Feature',
   'properties': {'County': 'Victoria', 'Cases': 73, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.79640594, -96.97176602]}},
  {'type': 'Feature',
   'properties': {'County': 'Nueces', 'Cases': 72, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [27.72621549, -97.61767326]}},
  {'type': 'Feature',
   'properties': {'County': 'McLennan', 'Cases': 66, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [31.55234489, -97.20184883]}},
  {'type': 'Feature',
   'properties': {'County': 'Potter', 'Cases': 59, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [35.40128927, -101.8940484]}},
  {'type': 'Feature',
   'properties': {'County': 'Ellis', 'Cases': 58, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [32.34839264, -96.79467417]}},
  {'type': 'Feature',
   'properties': {'County': 'Randall', 'Cases': 56, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [34.96594288, -101.8968527]}},
  {'type': 'Feature',
   'properties': {'County': 'Wichita', 'Cases': 53, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.98421585, -98.70153389]}},
  {'type': 'Feature',
   'properties': {'County': 'Taylor', 'Cases': 51, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.30138229, -99.89003941]}},
  {'type': 'Feature',
   'properties': {'County': 'Guadalupe', 'Cases': 47, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.58257236, -97.94850308]}},
  {'type': 'Feature',
   'properties': {'County': 'Hardin', 'Cases': 41, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.33238431, -94.39021394]}},
  {'type': 'Feature',
   'properties': {'County': 'Ector', 'Cases': 39, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.86908156, -102.5430907]}},
  {'type': 'Feature',
   'properties': {'County': 'Matagorda', 'Cases': 38, 'Fatalities': 3},
   'geometry': {'type': 'Point', 'coordinates': [28.86711039, -95.98533866]}},
  {'type': 'Feature',
   'properties': {'County': 'Gregg', 'Cases': 37, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.48036452, -94.81723694]}},
  {'type': 'Feature',
   'properties': {'County': 'Washington', 'Cases': 34, 'Fatalities': 1},
   'geometry': {'type': 'Point',
    'coordinates': [30.2145299, -96.40356575000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Comal', 'Cases': 34, 'Fatalities': 4},
   'geometry': {'type': 'Point', 'coordinates': [29.80816362, -98.27814516]}},
  {'type': 'Feature',
   'properties': {'County': 'Tom Green', 'Cases': 32, 'Fatalities': 1},
   'geometry': {'type': 'Point',
    'coordinates': [31.404444199999997, -100.4620678]}},
  {'type': 'Feature',
   'properties': {'County': 'Shelby', 'Cases': 31, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.79242191, -94.14495261]}},
  {'type': 'Feature',
   'properties': {'County': 'Midland', 'Cases': 31, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.86921148, -102.0315032]}},
  {'type': 'Feature',
   'properties': {'County': 'Orange', 'Cases': 30, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.12807126, -93.89653794]}},
  {'type': 'Feature',
   'properties': {'County': 'Nacogdoches', 'Cases': 29, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [31.61604108, -94.6158776]}},
  {'type': 'Feature',
   'properties': {'County': 'Bowie', 'Cases': 29, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.44572786, -94.42324298]}},
  {'type': 'Feature',
   'properties': {'County': 'Johnson', 'Cases': 27, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.37899918, -97.36660504]}},
  {'type': 'Feature',
   'properties': {'County': 'Chambers', 'Cases': 24, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.73912276, -94.60891308]}},
  {'type': 'Feature',
   'properties': {'County': 'Kaufman', 'Cases': 24, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.59927808, -96.28779341]}},
  {'type': 'Feature',
   'properties': {'County': 'Moore', 'Cases': 21, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [35.83768863, -101.8929556]}},
  {'type': 'Feature',
   'properties': {'County': 'Donley', 'Cases': 21, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [34.96540246, -100.81405009999999]}},
  {'type': 'Feature',
   'properties': {'County': 'Wharton', 'Cases': 20, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.2778362, -96.22197375]}},
  {'type': 'Feature',
   'properties': {'County': 'Bastrop', 'Cases': 19, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [30.10353518, -97.31187705]}},
  {'type': 'Feature',
   'properties': {'County': 'Coryell', 'Cases': 18, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.39087578, -97.7991883]}},
  {'type': 'Feature',
   'properties': {'County': 'Grayson', 'Cases': 17, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.62684371, -96.67764864]}},
  {'type': 'Feature',
   'properties': {'County': 'Rockwall', 'Cases': 16, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.89786769, -96.40780584]}},
  {'type': 'Feature',
   'properties': {'County': 'Liberty', 'Cases': 16, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.15153187, -94.8120925]}},
  {'type': 'Feature',
   'properties': {'County': 'Angelina', 'Cases': 16, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.25475875, -94.611742]}},
  {'type': 'Feature',
   'properties': {'County': 'Hunt', 'Cases': 15, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.123531, -96.08550014]}},
  {'type': 'Feature',
   'properties': {'County': 'Calhoun', 'Cases': 14, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.48966896, -96.64708119]}},
  {'type': 'Feature',
   'properties': {'County': 'Rusk', 'Cases': 14, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.10803224, -94.76169577]}},
  {'type': 'Feature',
   'properties': {'County': 'Walker', 'Cases': 13, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.73899492, -95.57224172]}},
  {'type': 'Feature',
   'properties': {'County': 'Waller', 'Cases': 13, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.01093722, -95.98768942]}},
  {'type': 'Feature',
   'properties': {'County': 'Harrison', 'Cases': 12, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.54814898, -94.37155736]}},
  {'type': 'Feature',
   'properties': {'County': 'Hockley', 'Cases': 12, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [33.60750375, -102.3430919]}},
  {'type': 'Feature',
   'properties': {'County': 'Gray', 'Cases': 12, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [35.40130666000001, -100.812475]}},
  {'type': 'Feature',
   'properties': {'County': 'Hood', 'Cases': 12, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.43107878, -97.83280338]}},
  {'type': 'Feature',
   'properties': {'County': 'Parker', 'Cases': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.77852261, -97.80472194]}},
  {'type': 'Feature',
   'properties': {'County': 'Andrews', 'Cases': 11, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.30506283, -102.6378839]}},
  {'type': 'Feature',
   'properties': {'County': 'Navarro', 'Cases': 11, 'Fatalities': 2},
   'geometry': {'type': 'Point', 'coordinates': [32.04695429, -96.47248134]}},
  {'type': 'Feature',
   'properties': {'County': 'Medina', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [29.35520493, -99.11008331]}},
  {'type': 'Feature',
   'properties': {'County': 'Erath', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.23640361, -98.21722756]}},
  {'type': 'Feature',
   'properties': {'County': 'Van Zandt', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.56368961, -95.8364862]}},
  {'type': 'Feature',
   'properties': {'County': 'Kendall', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.9446397, -98.71160511]}},
  {'type': 'Feature',
   'properties': {'County': 'Wilson', 'Cases': 10, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [29.17315896, -98.08621015000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Castro', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [34.53000304, -102.2617608]}},
  {'type': 'Feature',
   'properties': {'County': 'Panola', 'Cases': 10, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.16222886, -94.30552858]}},
  {'type': 'Feature',
   'properties': {'County': 'San Augustine', 'Cases': 9, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.39427005, -94.16809762]}},
  {'type': 'Feature',
   'properties': {'County': 'Limestone', 'Cases': 9, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [31.54541898, -96.58056718]}},
  {'type': 'Feature',
   'properties': {'County': 'Hale', 'Cases': 9, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [34.07051782, -101.8269082]}},
  {'type': 'Feature',
   'properties': {'County': 'Fayette', 'Cases': 9, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.87683207, -96.91968047]}},
  {'type': 'Feature',
   'properties': {'County': 'Lamar', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.66746186, -95.57110784]}},
  {'type': 'Feature',
   'properties': {'County': 'Maverick', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.74260943, -100.3144638]}},
  {'type': 'Feature',
   'properties': {'County': 'Austin', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.88711223, -96.27791829]}},
  {'type': 'Feature',
   'properties': {'County': 'Brown', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.77432313, -98.99989649]}},
  {'type': 'Feature',
   'properties': {'County': 'Henderson', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [32.21188078, -95.85356847000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Polk', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.79250963, -94.82994949]}},
  {'type': 'Feature',
   'properties': {'County': 'Hill', 'Cases': 8, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [31.99079033, -97.13241420000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Milam', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.78625299, -96.97683495]}},
  {'type': 'Feature',
   'properties': {'County': 'Uvalde', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.35669829, -99.76203107]}},
  {'type': 'Feature',
   'properties': {'County': 'Starr', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [26.56212627, -98.73834895]}},
  {'type': 'Feature',
   'properties': {'County': 'San Patricio', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.00922186, -97.51859857]}},
  {'type': 'Feature',
   'properties': {'County': 'Deaf Smith', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [34.96602014, -102.6048162]}},
  {'type': 'Feature',
   'properties': {'County': 'Atascosa', 'Cases': 7, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.89418432, -98.52741302]}},
  {'type': 'Feature',
   'properties': {'County': 'Burleson', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.49246139, -96.62109399]}},
  {'type': 'Feature',
   'properties': {'County': 'Val Verde', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.89300587, -101.15171]}},
  {'type': 'Feature',
   'properties': {'County': 'Burnet', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.78843382, -98.18252382]}},
  {'type': 'Feature',
   'properties': {'County': 'Cherokee', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [31.83695632, -95.16515234]}},
  {'type': 'Feature',
   'properties': {'County': 'Upshur', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.7362827, -94.94132011]}},
  {'type': 'Feature',
   'properties': {'County': 'Terry', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17373729, -102.335157]}},
  {'type': 'Feature',
   'properties': {'County': 'Grimes', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.54360689, -95.98557334]}},
  {'type': 'Feature',
   'properties': {'County': 'Colorado', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.6208542, -96.52630821]}},
  {'type': 'Feature',
   'properties': {'County': 'Titus', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.2160906, -94.96509786]}},
  {'type': 'Feature',
   'properties': {'County': 'Caldwell', 'Cases': 6, 'Fatalities': 0},
   'geometry': {'type': 'Point',
    'coordinates': [29.83677935, -97.61983479000001]}},
  {'type': 'Feature',
   'properties': {'County': 'Fannin', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.59396919, -96.10656755]}},
  {'type': 'Feature',
   'properties': {'County': 'Willacy', 'Cases': 5, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [26.47132899, -97.64303323]}},
  {'type': 'Feature',
   'properties': {'County': 'Dawson', 'Cases': 5, 'Fatalities': 1},
   'geometry': {'type': 'Point', 'coordinates': [32.74258137, -101.9476136]}},
  {'type': 'Feature',
   'properties': {'County': 'Lynn', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17685487, -101.8160235]}},
  {'type': 'Feature',
   'properties': {'County': 'Wood', 'Cases': 5, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.78634374, -95.38206498]}},
  {'type': 'Feature',
   'properties': {'County': 'Cass', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.07750446, -94.34348771]}},
  {'type': 'Feature',
   'properties': {'County': 'Jackson', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.95603133, -96.57883268]}},
  {'type': 'Feature',
   'properties': {'County': 'Goliad', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [28.65708563, -97.42646082]}},
  {'type': 'Feature',
   'properties': {'County': 'Blanco', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.26636128, -98.39974086]}},
  {'type': 'Feature',
   'properties': {'County': 'Lavaca', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [29.38437003, -96.93020993]}},
  {'type': 'Feature',
   'properties': {'County': 'Hopkins', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.14933822, -95.56414173]}},
  {'type': 'Feature',
   'properties': {'County': 'Wise', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.21585061, -97.65444124]}},
  {'type': 'Feature',
   'properties': {'County': 'Palo Pinto', 'Cases': 4, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [32.75316856, -98.31299522]}},
  {'type': 'Feature',
   'properties': {'County': 'San Jacinto', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [30.57948905, -95.16683273]}},
  {'type': 'Feature',
   'properties': {'County': 'Young', 'Cases': 3, 'Fatalities': 0},
   'geometry': {'type': 'Point', 'coordinates': [33.17670764, -98.68781396]}},
  {'type': 'Feature',
   'properties': {'County': 'Trinity', 'Cases': 3, 'Fatalities': 0},

In [56]:

with open('static/js/map.json','w') as f:
    json.dump(javascript_file, f, indent=4, sort_keys=False)

In [57]:
browser.visit(url4)

In [58]:
headlines_harris = browser.html
headline_soup = bs(headlines_harris, 'html.parser')

In [59]:
# lis = headline_soup.find_all('li', class_="headline-list-with-abstract__item")
links = headline_soup.find_all('div', class_="headline-list-with-abstract__headline")

titles = []
hrefs = []

In [60]:
recent = headline_soup.find_all('div', class_="story-snapshot-with-abstract__headline")[0]

In [61]:
recent

<div class="story-snapshot-with-abstract__headline">
<a class="story-snapshot-with-abstract__link" data-tracking="story-snapshot-with-abstract/headlineLinkClicked" href="/article/news/kentucky-mass-gathering-quarantine-in-person-church-service/285-378a3d5e-849b-4b0a-8fb7-aee72ceeb60a">
<div class="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180" style="overflow-wrap: break-word;">
                        Kentucky police will record license plate numbers of people who attend church on Easter
                    </div>
<div class="story-snapshot-with-abstract__mobile-title dot-ellipsis dot-height-135" style="overflow-wrap: break-word;">
                        Kentucky police will record license plate numbers of people who attend church on Easter
                    </div>
</a>
</div>

In [62]:
recent_title = recent.find('div', class_="story-snapshot-with-abstract__desktop-title dot-ellipsis dot-height-180").text.strip()
recent_title

'Kentucky police will record license plate numbers of people who attend church on Easter'

In [63]:
titles.append(recent_title)
hrefs.append('https://www.khou.com' + recent.a['href'])

In [64]:
links

[<div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/trump-announces-opening-our-country-task-force/285-f693f449-eb7b-4f7f-b032-9c2bc3fe2b62">
                     White House shares hopeful signs, Trump announces 'Opening our Country' task force
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/investigations/coronavirus-houston-improved-air-quality/285-2bf8c487-c621-4772-9b1f-1d129f5019b6">
                     A side effect of COVID-19 crisis: Houston's air is cleaner
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/katy-priest-brings-good-friday-services-to-community-during-coronavirus-pandemic/285-a9f52e3f-c45d-4ade-88cb-69e04a16eab7">
                     Katy priest brings Good Friday services to community during coronavirus pandemic
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/houston-food-bank-on-track-to-help-more-people-than-after-harvey/285-c600dcad-bc2e-4c8a-9c62-2e304b213eca">
                     Houston Food Bank on track to help more people than after Harvey
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/need-a-little-love-your-neighbors-got-you-covered/285-6799655a-3074-412f-b76b-8f4af4e5bac4">
                     Houston show choir leads message of togetherness during coronavirus pandemic
                 </a>
 </div>, <div class="headline-list-with-abstract__headline">
 <a class="headline-list-with-abstract__link" data-tracking="headline-list-with-abstract/headlineLinkClicked" href="/article/news/health/coronavirus/free-counseling-therapy-helpline-for-those-coping-with-covid-19-stress/285-656474c0-43b5-4398-9045-c4603759fdc5">
                     Feeling overwhelmed? Free counseling helpline for those coping with COVID-19 stress
                 </a>
 </div>]

In [65]:

for article in links:
    
    try:
        
        title = article.find('a', class_="headline-list-with-abstract__link").text
        
        link = article.a['href']
        
        if (title and link):
            
            
            print('-------------')
            print(title)
            print(link)
            titles.append(title.strip())
            hrefs.append('https://www.khou.com' + link)
            
    except:
        print('no')

-------------

                    White House shares hopeful signs, Trump announces 'Opening our Country' task force

/article/news/health/coronavirus/trump-announces-opening-our-country-task-force/285-f693f449-eb7b-4f7f-b032-9c2bc3fe2b62
-------------

                    A side effect of COVID-19 crisis: Houston's air is cleaner

/article/news/investigations/coronavirus-houston-improved-air-quality/285-2bf8c487-c621-4772-9b1f-1d129f5019b6
-------------

                    Katy priest brings Good Friday services to community during coronavirus pandemic

/article/news/health/coronavirus/katy-priest-brings-good-friday-services-to-community-during-coronavirus-pandemic/285-a9f52e3f-c45d-4ade-88cb-69e04a16eab7
-------------

                    Houston Food Bank on track to help more people than after Harvey

/article/news/health/coronavirus/houston-food-bank-on-track-to-help-more-people-than-after-harvey/285-c600dcad-bc2e-4c8a-9c62-2e304b213eca
-------------

                    Houston show choir leads message of togetherness during coronavirus pandemic

/article/news/health/coronavirus/need-a-little-love-your-neighbors-got-you-covered/285-6799655a-3074-412f-b76b-8f4af4e5bac4
-------------

                    Feeling overwhelmed? Free counseling helpline for those coping with COVID-19 stress

/article/news/health/coronavirus/free-counseling-therapy-helpline-for-those-coping-with-covid-19-stress/285-656474c0-43b5-4398-9045-c4603759fdc5

In [66]:
latest_headlines_df = pd.DataFrame(list(zip(titles, hrefs)), columns =['Headline', 'link'])

In [67]:
latest_headlines_df

,Headline,link
0,Kentucky police will record license plate numb...,https://www.khou.com/article/news/kentucky-mas...
1,"White House shares hopeful signs, Trump announ...",https://www.khou.com/article/news/health/coron...
2,A side effect of COVID-19 crisis: Houston's ai...,https://www.khou.com/article/news/investigatio...
3,Katy priest brings Good Friday services to com...,https://www.khou.com/article/news/health/coron...
4,Houston Food Bank on track to help more people...,https://www.khou.com/article/news/health/coron...
5,Houston show choir leads message of togetherne...,https://www.khou.com/article/news/health/coron...
6,Feeling overwhelmed? Free counseling helpline ...,https://www.khou.com/article/news/health/coron...

In [68]:
latest_headlines_df.to_csv('static/csv/headlines.csv', index=False, header=True)

In [69]:
browser.quit()